extends ../../template/desc-block

block block-variables
    - var blocktitle = 'Факты о компании'

block block-content
    p
        | Название: ITC
        br
        | Синоним: Айтиси
        br
        | Направление деятельности: реализация комплексных маркетинговых стратегий для e-commerce, медицинских и строительных компаний.
        br
        | Год основания: 2010
        br
        | Штат: 25 человек (на 31.12.2019)
        br
        | Центральный офис: г. Брянск