extends ../../template/desc-block

block block-variables
    - var blocktitle = 'Основатель'

block block-content
    p
        | Александров Евгений Дмитриевич
        br
        | Директор
        br
        | #[a(href="https://www.facebook.com/alexandrov89") https://www.facebook.com/alexandrov89]