extends ../../template/desc-block

block block-variables
    - var blocktitle = 'Медиа'

block block-content
    p
        | #[a(href="#") Логотип - стандартный]
        br
        | #[a(href="#") Логотип - белый]