-
    var nav = [
        {
            name: 'Порфолио',
            link: '#'
        },
        {
            name: 'Услуги',
            link: '#'
        },
        {
            name: 'Компания',
            link: '#'
        },
        {
            name: 'Блог',
            link: '#'
        },
        {
            name: 'Контакты',
            link: '#'
        },
    ]

header.b-header
    ._top-line
        ._logo
            +icon('logo', 'header__logo-icon')
        ._links
            ._city
                a._link(href='#', title='Брянск')
                    | Брянск
                    +icon('triangle-down')
            ._phone
                a._link(href='tel:+78005512557', title='8 (800) 551-25-57') 8 (800) 551-25-57
        nav.b-main-nav._main-nav
            ul._items
                each item in nav
                    li._item
                        a(href=item.link, title=item.name)._link= item.name

            .b-sandwich._sandwich
                ._line.-top
                ._line.-middle
                ._line.-bottom