-
    var nav = [
        {
            name: 'Порфолио',
            link: '#'
        },
        {
            name: 'Услуги',
            link: '#'
        },
        {
            name: 'Компания',
            link: '#'
        },
        {
            name: 'Блог',
            link: '#'
        },
        {
            name: 'Контакты',
            link: '#'
        },
    ]

header.b-header
    ._top-line
        ._logo
            +icon('logo', 'header__logo-icon')
        ._showreel
            a._link(data-fancybox, href="https://youtu.be/I_l8eApu9G4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0")
                +icon('triangle-right')
                | Showreel
        ._city
            a._link(href='#', alt='Брянск')
                +icon('triangle-down')
                | Брянск
        ._phone
            a._link(href='tel:+78005512557', alt='8 (800) 551-25-57') 8 (800) 551-25-57
        nav.b-main-nav._main-nav
            ul._items
                each item in nav
                    li._item
                        a(href=item.link, alt=item.name)._link= item.name

            .b-sandwich._sandwich
                ._line.-top
                ._line.-middle
                ._line.-bottom