if title == 'Контекстная реклама'
    .b-estore-line.-active
        .wrapper
            ._content
                ._text Интернет-магазин от 150 000 ₽ + настройка рекламы в подарок!
                .b-btn.-red._btn(data-action='estore-popup') Узнать подробнее
                ._close
                    +icon('close-x')
header(class= isBlue ? 'header--blue' : '').b-header
    .wrapper
        ._top-line
            ._top-left
                a(href='/')._logo
                    +icon('itc-logo', null, 43, 16)._logo-icon
                nav._menu
                    ul._menu-list
                        each item in headerMenu
                            li._menu-item(
                                data-mega=item.mega
                                class=item.mega ? 'header__menu-item--mega' : null
                                )
                                a._menu-link(href=!item.mega ? item.link : false, title=item.name)= item.name

            ._top-right
                ._city
                    ._link.link--icon.city-view
                        | Брянск
                        +icon('triangle-down')
                        ._cities
                            ul._subcities
                                each city in cities
                                    li._subcity
                                        a._link(href= city.link, title= city.name)= city.name

                ._phone
                    a._link(href='tel:+78005512557', title='8 (800) 551-25-57') 8 (800) 551-25-57
                button.b-btn.-flat._btn(data-action='popup', data-target='consultation') Заказать звонок
                a._call-mob(href='tel:+78005512557', title='8 (800) 551-25-57')
                    +icon('phone-round', 'header__call-mob-icon')
            .b-sandwich._sandwich
                ._line.-top
                ._line.-middle
                ._line.-bottom

include megamenu
