section.section
    .b-badges
        ._desc Как показывает практика, разработка сайта без участия интернет-маркетолога, приводит к плачевным результатам: сайты остаются незаметными для пользователей. Привлечь так необходимый трафик может лишь основательная маркетинговая подготовка.

        ._badge
            +icon('bitrix-small', 'badges__icon')
            ._badge-text Участник программы мониторинга качества внедрений
        ._badge
            +icon('bitrix-small', 'badges__icon')
            ._badge-text Золотой партнер 1С-Битрикс
        ._badge
            +icon('garant', 'badges__icon')
            ._badge-text Гарантия 6 мес