section.section.section--blue
    .b-consult-form
        h3.h3._title Оставить заявку на консультацию
        ._content
            p._desc Мы свяжемся с вами в течении 2-х часов для консультации по проекту
            form.b-page-form._form
                ._line
                    input(type='text' name='user-name', placeholder='Имя')._input
                    input(type='tel' name='user-phone', placeholder='Телефон')._input.-phone
                    ._col-wrap
                        input(type='submit', value='Заказать консультацию').b-btn.-flat.-light._btn
            p._approwe
                |Отправляя заявку, вы даете согласие на обработку своих персональных данных и соглашаетесь
                br
                a._approve-link(href='#', title='Политика конфиденциальности') с политикой конфиденциальности
