section.section
    .b-focus-page
        h2.h2._title Мы фокусируемся на SEO более 7 лет
        ._items
            ._item
                p._text Перед тем, как начинать работать с проектом мы проводим большой пул предварительных работ — делаем прогнозы, прописываем стратегию на несколько месяцев вперед.
            ._item
                p._text В рамках стратегии мы работаем со спросом, веб-аналитикой, устанавливаем цели и KPI, которые обеспечат "естественное" развитие Вашего сайта в поисковых системах.