section.section.section--blue
	.b-offer-now
		h3.h3._title Получите предложение сегодня
		._content
			picture._manager
				source(srcset='images/content/alexandrov@2x.jpeg 2x')
				source(srcset='images/content/alexandrov@2x.webp 2x')
				source(srcset='images/content/alexandrov.webp')
				img(src='images/content/alexandrov.jpeg' alt='Евгений Александров')._img
			p._desc Самое главное — мы делаем сайт инструментом, превращающим потенциальных пользователей в реальных клиентов: сегодня, завтра и в перспективе.
			._person
				._person-name Евгений Александров
				._person-position Руководитель направления интернет-маркетинга ITC
			form._form
				input(type='text' name='site-name', placeholder='Адрес сайта')._input
				input(type='text' name='user-name', placeholder='Имя')._input
				input(type='tel' name='user-phone', placeholder='Телефон')._input.-phone
				input(type='submit', value='Получить предложение').b-btn.-flat._btn
