section.section.section--blue
    .b-page-title
      - var newStr = title.split(' ')
        h1.h1._text.-one-word
          each str, key in newStr
              if key === 0
                  | !{str}
              else
                  br
                  span= str

