section.section
    .b-panel-video
        h3.h3._title Доступ во внутреннюю панель задач
        ._content
            p._desc В нашей внутренней панели задач технические специалисты отвечают напрямую. Это сокращает время получения ответа и исключает «испорченный телефон»
            a(data-fancybox, href="https://youtu.be/SLbWgGezEAU&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0")._btn
                img(
                    src="images/general/videopresentation.svg"
                    alt="Кнопка для воспроизведения"
                )
            ._air(style="background-image: url(images/general/air.png)")
