section.section
    .b-sformat
        h2.h2._title Формат сотрудничества
        ._cards
            ._card
                h3._subtitle Fixed Price
                ul._list
                    li._item фиксированный список задач
                    li._item фиксированные требования
                    li._item фиксированная стоимость работ
                    li._item работаем по предоплате
                ._price от 1300 руб./час
            ._card
                h3._subtitle Time&material
                ul._list
                    li._item возможность добавлять задачи в любой момент, в т.ч. срочные и маленькие
                    li._item возможность менять требования по задачам
                    li._item оплата по фактически отработанному времени
                ._price от 1100 руб./час
