.blue-hero
	display: grid
	grid-template-columns: repeat(2, 1fr)
	grid-template-rows: auto 1fr auto
	gap: 40px 60px
	padding-bottom: 36px

	&__title
		font-size: 48px
		line-height: 1.1

	&__badges
		display: grid
		grid-template-columns: repeat(3, 1fr)
		gap: 20px


	&__footer
		display: grid
		grid-template-columns: repeat(2, auto)
		gap: 30px 20px
		padding-bottom: 53px

	&__small-text
		grid-column: 1/-1
		font-size: 14px
		line-height: 1.5
		opacity: .5

	&__picture
		grid-row: 1/span 3
		grid-column: 2/-1


.hero-badge
	display: grid
	grid-template-columns: 40px 1fr
	gap: 14px

	&__icon
		fill: $white

	&__desc
		color: $grey
		opacity: .7
		font-size: 14px
		line-height: 1.3

