@import "buttons/buttons"
@import "index/index"
@import "footer/footer"
@import "header/header"
@import "main-nav/main-nav"
@import "popups/popups"
@import "taber"
@import "topcases"
@import "contacts-page"


// Page title h1
.page-title
    &__text
        font-size: 110px
        line-height: 125px
        font-weight: 500
        +md-block()
            font-size: 90px
            line-height: 105px
        +sm-block()
            font-size: 50px
            line-height: 60px
        +xs-block()
            font-size: 30px
            line-height: 40px


// Badges
.badges
    +row-flex()
    &__desc
        +col()
        +size(6)
        +size-md(12)
        +md-block()
            margin-bottom: 20px
    &__badge
        +col()
        +size(2)
        +size-md(4)
        +size-sm(12)
        display: flex
        +sm-block()
            &:not(:last-child)
                margin-bottom: 20px
    &__icon
        +sizebox(30px)
        min-width: 30px
        margin-right: 10px
    &__badge-text
        font-size: 15px
        line-height: 22px


// Focus
.focus-page
    &__items
        +row-flex()
    &__item
        +col()
        +size(6)
        +size-sm(12)
        +sm-block()
            &:not(:last-child)
                margin-bottom: 30px
    &__text
        padding-left: 38px
        position: relative
        &::before
            position: absolute
            display: block
            content: ''
            left: 0
            top: 15px
            width: 19px
            height: 1px
            background-color: $accent


// Controls
.controls
    +col()
    +size(2)
    +size-md(12)

    display: flex
    flex-direction: column
    align-items: center
    +md-block()
        justify-content: center
        margin-top: 20px
    &__navigation
        display: flex
    &__counter
        margin-bottom: 10px
        font-size: 30px
        line-height: 40px
        color: $accent
        &--light
            color: $white
    &__prev
        margin-right: 10px


// Autor vidio
.avideo
    &__wrap
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        min-height: 553px
        padding: 40px 30px
        color: $white
        +row-flex()
        margin-left: 0
        margin-right: 0
        +md-block()
            min-height: 450px

    &__text
        +col()
        +size(5)
        +size-md(12)
        display: flex
        flex-direction: column
        justify-content: space-between
        +md-block()
            align-items: center
            text-align: center

    &__btn-wrap
        +col()
        +size(7)
        +size-md(12)
        display: flex
        align-items: center
        +md-block()
            justify-content: center

    &__subtitle
        font-size: 40px
        line-height: 50px
        +sm-block()
            font-size: 27px
            line-height: 32px

    &__step
        &:not(:last-child)
            margin-bottom: 10px
        +md-block()
            display: none

// Consult form
.consult-form
    padding-bottom: 60px
    &__desc
        max-width: 380px
    &__approwe
        max-width: 570px
        color: rgba($white, .5)
        &-link
            color: $white
            text-decoration: none
            &:hover, &:focus
                text-decoration: underline

// Support format

.sformat
    &__cards
        +row-flex()
    &__card
        +col()
        +size(6)
        +size-sm(12)
        padding: 40px
        background-color: $grey
        display: flex
        flex-direction: column
        +sm-block()
            &:not(:last-child)
                margin-bottom: 20px
    &__subtitle
        font-size: 40px
        line-height: 50px
        font-weight: 200
        margin-bottom: 50px
        +xs-block()
            font-size: 27px
            line-height: 32px
            margin-bottom: 30px
    &__list
        margin-bottom: 40px
    &__item
        position: relative
        padding-left: 30px
        &:not(:last-child)
            margin-bottom: 20px
            +xs-block()
                margin-bottom: 10px
        &::before
            display: inline-block
            content: '— '
            position: absolute
            left: 0
    &__price
        font-size: 40px
        line-height: 50px
        font-weight: bold
        margin-top: auto
        +md-block()
            font-size: 30px
            line-height: 37px
        +xs-block()
            font-size: 24px
            line-height: 28px