@import "buttons/buttons"
@import "index/index"
@import "footer/footer"
@import "header/header"
@import "main-nav/main-nav"
@import "popups/popups"
@import "taber"
@import "topcases"
@import "contacts-page"
@import "portfolio-cards"


// Page title h1
.page-title
    &__text
        font-size: 110px
        line-height: 125px
        font-weight: 500
        +md-block()
            font-size: 90px
            line-height: 105px
        +sm-block()
            font-size: 50px
            line-height: 60px
        +xs-block()
            font-size: 30px
            line-height: 40px


// Badges
.badges
    +row-flex()
    &__desc
        +col()
        +size(6)
        +size-md(12)
        +md-block()
            margin-bottom: 20px
    &__badge
        +col()
        +size(2)
        +size-md(4)
        +size-sm(12)
        display: flex
        +sm-block()
            &:not(:last-child)
                margin-bottom: 20px
    &__icon
        +sizebox(30px)
        min-width: 30px
        margin-right: 10px
    &__badge-text
        font-size: 15px
        line-height: 22px


// Focus
.focus-page
    &__items
        +row-flex()
    &__item
        +col()
        +size(6)
        +size-sm(12)
        +sm-block()
            &:not(:last-child)
                margin-bottom: 30px
    &__text
        padding-left: 38px
        position: relative
        &::before
            position: absolute
            display: block
            content: ''
            left: 0
            top: 15px
            width: 19px
            height: 1px
            background-color: $accent


// Controls
.topcases-card__controls
    +col()
    +size(2)
    +size-md(12)

.controls

    display: flex
    flex-direction: column
    align-items: center
    +md-block()
        justify-content: center
        margin-top: 20px
    &__navigation
        display: flex
    &__counter
        margin-bottom: 10px
        font-size: 30px
        line-height: 40px
        color: $accent
        &--light
            color: $white
    &__prev
        margin-right: 10px


// Autor vidio
.avideo
    &__wrap
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        min-height: 553px
        padding: 40px 30px
        color: $white
        +row-flex()
        margin-left: 0
        margin-right: 0
        +md-block()
            min-height: 450px

    &__text
        +col()
        +size(5)
        +size-md(12)
        display: flex
        flex-direction: column
        justify-content: space-between
        +md-block()
            align-items: center
            text-align: center

    &__btn-wrap
        +col()
        +size(7)
        +size-md(12)
        display: flex
        align-items: center
        +md-block()
            justify-content: center

    &__subtitle
        font-size: 40px
        line-height: 50px
        +sm-block()
            font-size: 27px
            line-height: 32px

    &__step
        &:not(:last-child)
            margin-bottom: 10px
        +md-block()
            display: none

// Consult form
.consult-form
    padding-bottom: 60px
    &__desc
        max-width: 380px
    &__approwe
        max-width: 570px
        color: rgba($white, .5)
        &-link
            color: $white
            text-decoration: none
            &:hover, &:focus
                text-decoration: underline

// Support format

.sformat
    &__cards
        +row-flex()
    &__card
        +col()
        +size(6)
        +size-sm(12)
        padding: 40px
        background-color: $grey
        display: flex
        flex-direction: column
        +sm-block()
            &:not(:last-child)
                margin-bottom: 20px
    &__subtitle
        font-size: 40px
        line-height: 50px
        font-weight: 200
        margin-bottom: 50px
        +xs-block()
            font-size: 27px
            line-height: 32px
            margin-bottom: 30px
    &__list
        margin-bottom: 40px
    &__item
        position: relative
        padding-left: 30px
        &:not(:last-child)
            margin-bottom: 20px
            +xs-block()
                margin-bottom: 10px
        &::before
            display: inline-block
            content: '— '
            position: absolute
            left: 0
    &__price
        font-size: 40px
        line-height: 50px
        font-weight: bold
        margin-top: auto
        +md-block()
            font-size: 30px
            line-height: 37px
        +xs-block()
            font-size: 24px
            line-height: 28px

// Two cols

.two-col
    &__cols
        +row-flex()
    &__col
        +col()
        +size(6)
        +size-sm(12)
        +sm-block()
            &:not(:last-child)
                margin-bottom: 20px
    &__item
        position: relative
        padding-left: 30px
        &:not(:last-child)
            margin-bottom: 20px
            +xs-block()
                margin-bottom: 10px
        &::before
            display: inline-block
            content: '— '
            position: absolute
            left: 0

// Description block

.description-block
    +row-flex()
    &__title-block
        +col()
        +size(4)
        +size-sm(12)
        +sm-block()
            margin-bottom: 30px
    &__title
        font-size: 30px
        line-height: 40px
        font-weight: 500
    &__desc-block
        +col()
        +size(8)
        +size-sm(12)

.content-footer
    display: flex
    justify-content: flex-start
    align-items: center
    margin-top: 50px
    & > *
        &:not(:last-child)
            margin-right: 30px

// Page slider

.page-slider
    &__title
        font-size: 30px
        line-height: 40px
        font-weight: 500
    &__wrap
        +row-flex()
    &__left
        +col()
        +size(8)
        +size-sm(12)
    &__right
        +col()
        +size(4)
        +size-sm(12)
        display: flex
        flex-direction: column
        +sm-block()
            flex-direction: column-reverse
    &__content
        margin-bottom: 30px
    &__controls
        margin-top: auto
        border-top: 1px solid rgba($main-font-color, .2)
        padding-top: 30px
        +sm-block()
            border-top: none
            padding-top: 10px
            padding-bottom: 20px

// Cases page

.cases-line
    display: flex
    justify-content: flex-start
    align-items: center
    background-color: $grey
    padding-left: 30px
    padding-right: 30px
    +xs-block()
        padding-left: 20px
        padding-right: 20px

    &__tab
        color: $main-font-color
        line-height: 70px
        +sm-block()
            font-size: 16px
        +xs-block()
            line-height: 18px
            height: 70px
            display: flex
            align-items: center
            text-align: center
            font-size: 13px
        &:not(:last-child)
            margin-right: 100px
            +sm-block()
                margin-right: 40px
            +xs-block()
                margin-right: 20px
        &--active
            border-bottom: 1px solid $main-font-color

.cases-content
    &__tab
        display: none
        &--active
            display: block

// Post cards

.post-cards
    +row-flex()
.post-card
    +col()
    +size(4)
    +size-sm(12)

    &__img
        display: block
        -webkit-background-size: cover
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        width: 100%
        height: 220px
        margin-top: 20px
        margin-bottom: 40px
        position: relative
        &::after
            position: absolute
            content: ''
            display: block
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 3
            background-color: rgba($accent, .4)
            backdrop-filter: blur(3px)
            transition: opacity .3s ease


.blog-page
    .post-card
        margin-bottom: 60px
        +sm-block()
            margin-bottom: 30px