@import "buttons/buttons"
@import "index/index"
@import "footer/footer"
@import "header/header"
@import "main-nav/main-nav"
@import "popups/popups"
@import "taber"
@import "topcases"


// Page title h1
.page-title
    &__text
        font-size: 110px
        line-height: 125px
        font-weight: 500


// Badges
.badges
    +row-flex()
    &__desc
        +col()
        +size(6)
        +size-sm(12)
    &__badge
        +col()
        +size(2)
        +size-sm(4)
        display: flex
    &__icon
        +sizebox(30px)
        min-width: 30px
        margin-right: 10px
    &__badge-text
        font-size: 15px
        line-height: 22px


// Focus
.focus-page
    &__items
        +row-flex()
    &__item
        +col()
        +size(6)
    &__text
        padding-left: 38px
        position: relative
        &::before
            position: absolute
            display: block
            content: ''
            left: 0
            top: 15px
            width: 19px
            height: 1px
            background-color: $accent


// Controls
.controls
    +col()
    +size(2)
    +size-md(12)

    display: flex
    flex-direction: column
    align-items: center
    +md-block()
        justify-content: center
        margin-top: 20px
    &__navigation
        display: flex
    &__counter
        margin-bottom: 10px
        font-size: 30px
        line-height: 40px
        color: $accent
        &--light
            color: $white
    &__prev
        margin-right: 10px


// Autor vidio
.avideo
    &__wrap
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        min-height: 553px
        padding: 40px 30px
        color: $white
        +row-flex()
        margin-left: 0
        margin-right: 0
    &__text
        +col()
        +size(5)
        display: flex
        flex-direction: column
        justify-content: space-between
    &__btn-wrap
        +col()
        +size(7)
        display: flex
        align-items: center
    &__subtitle
        font-size: 40px
        line-height: 50px
    &__step
        &:not(:last-child)
            margin-bottom: 10px

// Consult form
.consult-form
    padding-bottom: 60px
    &__desc
        max-width: 380px
    &__approwe
        max-width: 570px
        color: rgba($white, .5)
        &-link
            color: $white
            text-decoration: none
            &:hover, &:focus
                text-decoration: underline