.smm-price
	&__title
		span
			font-weight: 300

.smm-table
	$self: &

	&__header
		display: grid
		grid-template-columns: 3fr repeat(3, 1fr)
		padding-bottom: 10px
		font-weight: bold
		color: $accent

	&__body
		padding-top: 15px
		box-shadow: inset 0 -2px $accent, inset 0 2px $accent

	&__section
		margin-top: 10px
		margin-bottom: 30px

	&__name
		font-weight: bold

		&--collapsed
			display: flex
			max-width: 100%
			justify-content: space-between
			align-items: center
			cursor: pointer

			& + #{$self}__rows
				overflow: hidden
				max-height: 700px
				transition: all .3s ease-in-out

			&.close
				& + #{$self}__rows
					max-height: 0

	&__collapse-arrow
		fill: $accent
		transition: all .3s ease-in-out

		&.close
			transform: rotateZ(180deg)

	&__rows
		padding-top: 20px
		padding-left: 25px

	&__row
		font-size: 18px
		line-height: 1.33
		display: grid
		grid-template-columns: 3fr repeat(3, 1fr)
		box-shadow: inset 0 -1px rgba($accent, .15)
		padding-top: 15px
		padding-bottom: 15px

	&__col
		padding-right: 10px
		&--val
			color: $accent
			fill: $accent
		&--foot
			display: grid
			gap: 10px

	&__footer
		display: grid
		grid-template-columns: 3fr repeat(3, 1fr)
		color: $accent

	&__foot-title
		font-weight: bold

	&__foot-desc
		font-size: 16px
		line-height: 1.69

	&__foot-price
		font-size: 22px
		font-weight: bold
		line-height: 1.23

	&__btn
		padding-right: 5px
		padding-left: 5px
