section.section
    .b-avideo
        h2.h2._title Авторская методика продвижения
        ._wrap(style="background-image: url(images/general/showreel_bg.jpg)")
            ._text
                ._subtitle Вы уверены что Ваше SEO работает на 100%?
                ul._steps
                    li._step Собираем "длинный хвост"
                    li._step Изучаем потенциал ключевых слов
                    li._step Используем карту релевантости
                    li._step Увеличиваем охват
            ._btn-wrap
                a(data-fancybox, href="https://youtu.be/I_l8eApu9G4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0").b-btn.-big.-full.-blue.-round._btn
                    +icon('empty_triangle', 'btn__icon-empty-triangle')
