extends template/main

block variables
    - var title = 'Компания'

block content
    include pages/company/hero-company
    include pages/company/about
    +pageSlider('Мероприятия', events)
    include pages/company/press
    +taber(tabsAdStep, 'Вакансии', 'light')
    include pages/company/more
