extends template/main

block variables
    - var title = 'Компания'

block content
    include pages/company/hero-company
    include pages/company/about
    +pageSlider('Мероприятия', events)
    include pages/company/press
    +pageSlider('Корпоративная жизнь', corpLife)
    +taber(tabsHr, 'Вакансии', 'light', 'vacancies')
    include pages/company/more

