extends template/main

block variables
    - var title = 'Компания'

block content
    include pages/company/hero-company
    +taber(tabsIndex)
    //include pages/index/cases
    include modules/topcases
    include pages/index/showreel
    include pages/index/counters
    include pages/index/clients
    +feedbackSlider(feedbacks, 'Отзывы')
    include pages/index/latest-post
    include pages/index/hr