extends template/main

block variables
    - var title = 'Контекстная реклама'


block content
    include modules/page-title
    +badges(contextBadges)
    +taber(tabsContext)
    include modules/topcases
    +feedbackSlider(feedbacks, 'Отзывы')
    +taber(tabsAdStep, 'Этапы запуска рекламной кампании', 'light')
    +feedbackSlider(metrix, 'Ключевые метрики', 'feedback--rules')
    include modules/consult-form
    include modules/estore-popup

