extends template/main

block variables
	- var title = 'Главная страница'

block content
	include pages/index/hero
	include pages/index/taber
	include pages/index/cases
	include pages/index/showreel
	include pages/index/counters
