extends template/main

block variables
    - var title = 'Главная страница'

block content
    include pages/index/hero
    +taber(tabsIndex)
    //include pages/index/cases
    include modules/topcases
    include pages/index/showreel
    include pages/index/counters
    include pages/index/clients
    include pages/index/accordion
    include pages/index/shadow-card
    +newFeedback(newFeedbacks, 'Отзывы')
    include pages/index/latest-post
    include pages/index/hr
