extends template/main

block variables
  - var title = 'Продвижение медицинского сайта'
  - var isBlue = true
  - var fullTitle = true

block content-full
    include modules/page-title-blue
block content
    +badges(supportBadges)
    include modules/topcases
    +avideo(promAvideo)
    +taber(tabsMainSteps, 'Основные этапы работы', 'light')
    include pages/med-site/latest-post
    include modules/consult-form
