extends template/main

block variables
    - var title = 'Медиакит'

block content
    include modules/page-title
    include pages/mediakit/facts
    include pages/mediakit/father
    include pages/mediakit/media

