extends template/main

block variables
  - var title = 'Продвижение медицинских сайтов <span class="gold-span">от 30 000 ₽</span> с гарантией'
  - var isBlue = true
  - var fullTitle = true

block content-full
    include modules/page-title-hero
block content
    include pages/med-site/promotion
    include modules/topcases
    +newFeedback(newFeedbacks, 'Отзывы')
    include pages/med-site/new-price-table
    +avideo(promAvideo)
    +taber(tabsMainSteps, 'Основные этапы работы', 'light')
    include pages/med-site/latest-post
    include modules/consult-form
