extends template/main

block variables
    - var title = 'Продвижение сайтов'


block content
    include modules/page-title
    include modules/badges
    include modules/focus
    +taber(tabsPromo1)
    include modules/topcases
    +feedbackSlider(feedbacks, 'Отзывы')
    include pages/site-promotion/autor-video
    +taber(tabsStrategy, 'Стратегия поискового продвижения', 'light')
    +feedbackSlider(ourRules, 'Наш подход', 'feedback--rules')
    include modules/consult-form
