extends template/main

block variables
    - var title = 'Продвижение сайтов'


block content
    include modules/page-title
    +badges(promBadges)
    //-include modules/focus
    +taber(tabsPromo1)
    include modules/topcases
    +feedbackSlider(feedbacks, 'Отзывы')
    +avideo(promAvideo)
    include modules/panel-video
    +taber(tabsStrategy, 'Стратегия поискового продвижения', 'light')
    +feedbackSlider(ourRules, 'Наш подход', 'feedback--rules')
    include modules/consult-form
