section.section
    .b-two-col
        h2.h2._title Особенности SMM-продвижения:
        ._cols
            ._col
                ul._list
                    li._item Возможность выделения определенной группы пользователей;
                    li._item Самостоятельное распространение рекламы среди пользователей сети;
            ._col
                ul._list
                    li._item Наличие оперативной обратной связи с реальными и потенциальными клиентами;
                    li._item Восприятие продвижения товара или услуги в социальных сетях не как рекламы.