-
    const accordion = [
        {
            title: 'Мониторинг и исправление ошибок и проблем работоспособности',
            desc: `<ul><li>исправление проблем с отображением товаров или страниц</li><li>корректировка работы функционала (оформление заказа, регистрация, инструменты сравнения и прочее)</li><li>правка адаптивности и корректности верстки, добавление новых блоков</li></ul>`
        },
        {
            title: 'Разработка личного кабинета, калькуляторов и других модулей',
            desc: `<ul><li>Разработка или доработка ЛК</li><li>Создание функционала калькуляторов расчета и других модулей в Битрикс.</li></ul>`
        },
        {
            title: 'Интеграция с 1С',
            desc: `<p>Настройка интеграции сайта на Битрикс с другими системами 1С. Реализация интеграции сайта с 1С «Предприятие» и другими системами, которые требуются проекту с точки зрения автоматизации процессов.</p><ul><li>1С.Бухгалтерия</li><li>1С.Аренда</li><li>1С.Предприятие</li><li>1С.СКУД</li><li>1С.УНФ</li></ul>`
        },
    ]

section.section
    .b-accordion
        h2.h2._title Наш опыт на 1С-Битрикс
        ._set
            each item in accordion
                ._item
                    ._item-title= item.title
                    ._desc !{item.desc}


