-
    let feedbacks = [
        {
            name: 'ООО «Дейта-Сервис»',
            text: 'ООО «Дейта-Сервис» благодарит Вас за разработку и сопровождение сайтов нашей компании. В ходе сотрудничества с компанией «ITC MEDIA» мы получили качественный продукт, помогающий нам в поиске новых клиентов и возможностей для развития бизнеса.',
        },
        {
            name: 'АО «ЭР-Телеком Холдинг»',
            text: 'АО "ЭР-Телеком Холдинг" благодарит компанию ITC MEDIA за плодотворное сотрудничество по поисковому продвижению и технической поддержке сайтов bks.tv и bstk.bks.tv. Сотрудники ITC MEDIA проявляют себя как профессиональная команда, которой  можем доверить не только своевременное и качественное выполнение поставленных задач, но и внедрение комплексных решений по улучшению сайта.',
            original: 'images/content/feedback/bks.jpg',
        },
        {
            name: 'ООО «Семейный доктор»',
            text: 'Искренне признательны за добросовестное отношение, подбор и внедрение оптимальных решений по визуализации составляющей и процессу поискового продвижения сайта.',
            original: 'images/content/feedback/doctor.png',
        },
        {
            name: 'ООО «Дятьковская Стекольная Артель»',
            text: 'ООО Дятьковская Стекольная Артель (изготовление и продажа изделий из хрусталя и стекла) выражает свою благодарность ООО «ITC-MEDIA» Которая показала высокий уровень мастерства в разработке, создании и продвижении сайта.',
        },
        {
            name: 'ООО «Клиника «Прайм Медикал»',
            text: 'Руководство и коллектив ООО «Клиника «Прайм Медикал» благодарит компанию ITC Media за плодотворное сотрудничество в сфере продвижения и оптимизации сайта нашей компании.',
        },
    ]

// Feedback section
section.section
    .b-feedback
        h2.h2._title Отзывы
        ._wrap
            ._desc
                #feedback-carousel.owl-carousel
                    each item in feedbacks
                        ._item
                            ._item-left
                                ._name= item.name
                                +icon('quotes', 'feedback__icon-quotes')
                            ._item-right
                                ._text= item.text
                                if item.original
                                    a(href= item.original, title="Оригинал отзыва " + item.name)._original Смотреть оригинал
            ._navigation
                ._prev
                    button.b-btn.-round._btn
                        +icon('arrow', 'btn__icon-arrow btn__icon-arrow--flip')
                ._next
                    button.b-btn.-round._btn
                        +icon('arrow', 'btn__icon-arrow')