// Hero section
section.section
    .b-hero
        ._text
            ._title Продвигаем  бизнес в интернете
        ._action
            button(data-action='popup', data-target='consultation').b-btn.-round.-big._btn
                +icon('plus', 'btn__icon-plus')
                | Заказать  консультацию

