// Latest-post section
section.section
    .b-latest-post
        ._title-wrap
            h2.h2._title Блог
            //-button.b-btn.-flat._btn
                | Подписаться на рассылку
        .post-cards
            each post, key in posts
                if key < 3
                    +post-card(post)
