-
    const cards = [
        {
            icon: '60-handshake',
            title: 'Использование GIT',
            text: 'Использование GIT дает возможность работы над несколькими сложными задачами без риска «затереть» часть правок. Скорость реализации задач не снижается при увеличении их количества, так как одновременно с сайтом могут работать несколько программистов.'
        },
        {
            icon: '60-eye',
            title: 'Мониторинг качества',
            text: 'Инструмент, который позволяет проверить качество выполненных задач и проектов перед сдачей заказчику. Включает специальную систему тестов и проверок. Благодаря систематизации структуры проверок снижается риск получения клиентом недоработанного результата.'
        },
        {
            icon: '60-crown',
            title: 'Сертифицированные специалисты',
            text: 'Наш штат разработки в Нижнем Новгороде включает сертифицированных и аттестованных специалистов и разработчиков 1С-Битрикс. Мы занимаемся разработкой как сайтов, так и приложений, доработкой коробочных версий, интеграциями с внешними системами.'
        },
        {
            icon: '60-support',
            title: 'Интеграция с 1С',
            text: 'Имеем большой опыт в интеграции с сервисами 1С различных версий. Сможем обеспечить полноценное расширение и развитие магазина на CMS Bitrix под Ваши потребности.'
        }
    ]
section.section
    .b-shadow-cards
        h2.h2._title Наши преимущества
        ._set
            each card in cards
                .b-shadow-card._card
                    +icon(card.icon, null, 60)._icon
                    ._title= card.title
                    ._text= card.text


