// Showreel section
section.section
    .b-showreel
        h2.h2._title Компания
        ._wrap(style="background-image: url(images/general/showreel_bg.jpg)")
            ._desc
                h3.h3._subtitle О нас за 90 секунд
                ul._items
                    li._item Маркетинг в основе
                    li._item Системный подход
                    li._item Прозрачность в отношениях
                    li._item Постоянное обучение

            ._btn-wrap
                a(data-fancybox, href="https://youtu.be/I_l8eApu9G4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0").b-btn.-big.-full.-blue.-round._btn
                    +icon('empty_triangle', 'btn__icon-empty-triangle')
