.hero
    +row-flex()

    &__text
        +col()
        +size(8)

    &__action
        +col()
        +size(4)
        display: flex
        justify-content: flex-end
        align-items: center

    &__title
        font-size: 120px
        line-height: 130px
        font-weight: 500
        +md-block()
            font-size: 75px
            line-height: 90px
        +sm-block()
            font-size: 42px
            line-height: 55px
        +xs-block()
            font-size: 30px
            line-height: 40px
    &__showreel
        +col()
        +size(12)
        display: flex
        margin-top: 55px
        +sm-block()
            margin-top: 40px
    &__link
        display: flex
        align-items: center
        svg
            width: 17px
            height: 17px
            margin-right: 10px
            fill: $accent
    &__btn
        +xs-block()
            font-size: 10px
            line-height: 14px
            +sizebox(80px)