.latest-post
    &__items
        +row-flex()
    &__item
        +col()
        +size(4)
        +size-sm(12)
    &__title-wrap
        display: flex
        align-items: flex-start
        justify-content: space-between
        +sm-block()
            margin-bottom: 40px
    &__title
        +sm-block()
            margin-bottom: 0

    &__img
        display: block
        -webkit-background-size: cover
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        width: 100%
        height: 220px
        margin-top: 20px
        margin-bottom: 40px

    &__btn-wrap

        display: flex
        justify-content: center
        +sm-block()
            justify-content: flex-end
            padding-top: 0
