.latest-post
    &__title-wrap
        display: flex
        align-items: flex-start
        justify-content: space-between
        +sm-block()
            margin-bottom: 40px
    &__title
        +sm-block()
            margin-bottom: 0
    &__btn-wrap

        display: flex
        justify-content: center
        +sm-block()
            justify-content: flex-end
            padding-top: 0
