.taber
    display: flex
    align-items: center
    padding: 60px 30px
    background-color: $accent
    color: $white

    &__left
        width: 50%
        position: relative
        &::after
            content: ''
            display: block
            position: absolute
            top: 30px
            bottom: 20px
            right: 0
            width: 1px
            background-color: $white
            opacity: .3

    &__right
        width: 50%

    &__title-item
        opacity: .5
        transition: all .5s ease
        &:not(:last-child)
            margin-bottom: 30px
        &.active
            opacity: 1
            position: relative
            &::after
                position: absolute
                content: ''
                display: block
                width: 50px
                height: 1px
                right: 0
                top: 50%
                background-color: $white

    &__title
        font-size: 40px
        line-height: 55px
        font-weight: 100

    &__card
        display: none
        justify-content: space-between
        align-items: center
        &.active
            display: flex
    &__text
        line-height: 27px
        padding-left: 30px

    &__btn
        min-width: 76px
        margin-left: 54px