.header
    height: 120px

    &__top-line
        display: flex
        justify-content: space-between
        align-items: center

    &__logo
        &-icon
            max-width: 121px
            max-height: 120px

    &__showreel
        display: flex

    &__city
        display: flex

    &__phone

    &__link
        display: flex
        align-items: center
        text-decoration: none
        color: $accent

        svg
            width: 17px
            height: 17px
            margin-right: 10px

    &__main-nav