.header
    height: 120px

    &__top-line
        display: flex
        justify-content: space-between
        align-items: center

    &__logo
        &-icon
            max-width: 121px
            max-height: 120px
            fill: $main-font-color
        +sm-block()
            margin-right: 20px

    &__phone
        +sm-block()
            display: none

    &__city
        display: flex
        margin-right: 40px
        +sm-block()
            margin-right: 20px

    &__links
        display: flex

    &__link
        display: flex
        align-items: center

        svg
            width: 17px
            height: 17px
            margin-left: 10px
            fill: $accent

    &__main-nav