-
    const cards = [
       'Многопрофильные клиники',
       'Диагностические центры',
       'Фармкомпании',
       'Косметологии',
       'Стоматологии',
       'Больницы',
    ]

section.section
    .b-promotion
        h2.h2._title Мы продвигаем медицинские сайты в топ 3
        ._cards
            each card in cards
                ._card= card
