section.section
    .b-quote
        ._content
            ._left
                ._img-wrap
                    ._img(style="background-image:url(../images/content/alexandrov.jpg)")
            ._right
                ._text
                    span Самое главное —
                    br
                    | мы делаем сайт инструментом, превращающим потенциальных пользователей в реальных клиентов: сегодня, завтра и в перспективе.
                ._sign
                    | Евгений Александров
                    br
                    | Руководитель направления поискового продвижения ITC

                    