section.section
    .b-two-col
        h2.h2._title Продвижение сайтов медицинских услуг от ITC
        ._cols
            ._col
                ul._list
                    li._item Мы соединяем требования законодательства и SEO, структурируем ресурс, добиваемся, чтобы интерфейс, навигация и содержание отвечали поставленным задачам.
            ._col
                ul._list
                    li._item Законом определены те сведения, которые должны присутствовать на странице: контактные данные, график приема, информация о специалистах, оборудовании.