-
    var socialIcons = [
        {
            name: 'Agima',
            link: '#',
            icon: 'agima',
        },
        {
            name: 'РАЕК',
            link: '#',
            icon: 'raek',
        },
        {
            name: 'FaceBook',
            link: '#',
            icon: 'fb',
        },
        {
            name: 'VK',
            link: '#',
            icon: 'vk',
        },
        {
            name: 'Instagram',
            link: '#',
            icon: 'insta',
        },
    ]

-
    var mainMenu = [
        {
            name: 'Порфолио',
            link: 'cases.html'
        },
        {
            name: 'Отзывы',
            link: '#'
        },
        {
            name: 'Компания',
            link: 'company.html'
        },
        {
            name: 'Блог',
            link: 'blog.html'
        },
        {
            name: 'Контакты',
            link: 'contacts.html'
        },
    ]

-
    var secondMenu = [
        {
            name: 'Продвижение сайта',
            link: 'site-promotion.html'
        },
        {
            name: 'Контекстная реклама',
            link: 'context.html'
        },
        {
            name: 'Таргетированная реклама',
            link: '#'
        },
        {
            name: 'Маркетинг в соцсетях',
            link: 'smm.html'
        },
        {
            name: 'Разработка и развитие сайтов',
            link: 'site-develop.html'
        },
    ]

-
    var cities = [
        {
            name: 'Брянск',
            link: '#'
        },
        {
            name: 'Москва',
            link: '#'
        },
        {
            name: 'Казань',
            link: '#'
        },
        {
            name: 'Краснодар',
            link: '#'
        },
        {
            name: 'Нижний Новгород',
            link: '#'
        },
        {
            name: 'Ростов',
            link: '#'
        },
        {
            name: 'Симферополь',
            link: '#'
        },
        {
            name: 'Санкт-Петербург',
            link: '#'
        },
    ]

-
    var tabsIndex = [
        {
            title: 'Поисковое продвижение',
            text: '<p>Продвигаем по трафику, позициям и часам. Ставим, строим стратегию продвижения на полгода вперед.</p> <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>',
        },
        {
            title: 'Контекстная реклама',
            text: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum error illum ipsam iste laborum minima necessitatibus obcaecati quis quisquam repellendus sint temporibus totam veniam?</p> <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>',
        },
        {
            title: 'Продвижение в соцсетях',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid at blanditiis cumque enim, ipsum numquam possimus quis repudiandae? Aliquid animi dignissimos impedit ipsum nulla quae quis rem repellendus reprehenderit?</p>
                    <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>`,
        },
        {
            title: 'Разработка сайтов',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem commodi hic ipsam iste iure obcaecati omnis provident voluptatem? Facere reprehenderit, voluptate?</p>
                    <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>`,
        },
        {
            title: 'Поддержка сайтов',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt facere incidunt quibusdam rem repellendus voluptas?</p>
                    <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>`,
        },
    ]

-
    var tabsPromo1 = [
        {
            title: 'Гибридное SEO',
            text: `  <ul>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                      </ul>`,
        },
        {
            title: 'Продвижение в регионах',
            text: `  <ul>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                      </ul>`,
        },
        {
            title: 'Продвижение в Москве',
            text: `  <ul>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                      </ul>`,
        },
        {
            title: 'Продвижение по РФ',
            text: `  <ul>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                      </ul>`,
        },
        {
            title: 'SEO на этапе разработки',
            text: `  <ul>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                      </ul>`,
        },
        {
            title: 'SEO поддержка',
            text: `  <ul>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                      </ul>`,
        },
    ]

-
    var tabsStrategy = [
        {
            title: 'Анализ ЦА',
            text: `<p>Проведем анализ вашей целевой аудитории, поймем, что и как она ищет. Построим customer jorney для различных сегментов целевой аудитории для правильного анализа поискового спроса.</p>`,
        },
        {
            title: 'Сезонность и спрос',
            text: `<p>Проведем анализ спроса в нише для оценки потенциального охвата аудитории. Проработаем целевые и около целевые запросы для продвижения. Выберем только самые актуальные и приоритетные.</p>`,
        },
        {
            title: 'Анализ продуктов',
            text: `<p>Проведем маркетинговый срез по вашему продукту. Выявим позиционирования бренда и сформируем четкие УТП для эффективной работы с целевой аудиторией и контентом при продвижении сайта.</p>`,
        },
        {
            title: 'Технический анализ',
            text: `<p>Определим техническую готовность сайта к продвижению. Поставим задачу в наш техотдел для выявления и исправления ошибок в индексации, скриптов, негативно влияющих на скорость загрузки и т.п.</p>`,
        },
        {
            title: 'Поведенческий анализ',
            text: `<p>Проверим правильность настроек веб-аналитики, привлечем UX-специалиста для выявления текущих проблем с юзабилити, запланируем пул работ, выполним повторные замеры и добьемся их улучшения.</p>`,
        },
        {
            title: 'Прогнозы и сроки',
            text: `<p>Спрогнозируем динамику роста позиций и трафика на основании полученных данных. Проверим сайт на наличие санкций со стороны ПС и прочих ограничивающих рост факторов. Поставим задачи на вывод из-под фильтров в случае необходимости.</p>`,
        },
        {
            title: 'Отчетность',
            text: `<p>Разработанная стратегия ежемесячно детализируется на пул конкретных задач с четкими таймингами. Ход и результаты выполнения задач всегда доступны в виде наглядных отчетов.</p>`,
        },
    ]

-
    var tabsSmmStrategy = [
        {
            title: 'Разработка SMM-стратегии',
            text: `<p>Присутствие SMM на популярных социальных площадках позволяет собрать целевую аудиторию и, вместе с тем, быстро и понятно рассказать о компании пользователям социальных сетей. Успешная работа всегда основывается на хорошо продуманном плане, наша задача — найти целевую аудиторию для вашего продукта или услуги и разработать выигрышную стратегию взаимодействия с ней.</p>`,
        },
        {
            title: 'Создание и ведение сообществ',
            text: `<p>Создаём сообщество от лица вашей компании в социальной сети и оформляем его. Чтобы сделать группу уникальной мы генерируем дизайнерское оформление. Для привлечения целевой аудитории насыщаем площадку постинга визуально и информационно «правильным» контентом и запускаем в массы. Работаем с популярными сетями: ВКонтакте, Facebook, Instagram, Одноклассники, и др.</p>`,
        },
        {
            title: 'Производство контента',
            text: `<p>Правильный контент мы определяем классическими критериями: 100 % уникальность текстов, эксклюзивность фотоматериала, полезная инфографика от дизайнера, корпоративные видео. Мы готовы работать над креативом.</p>`,
        },
        {
            title: 'Обратная связь c пользователями',
            text: `<p>Преимущество маркетинга в социальных сетях заключается в том, что люди добровольно делятся персональной информацией, указывают свои интересы и предпочтения, что даёт возможность выбирать аудиторию, используя фильтры. Мы считаем, что таким образом вы сумеете стать настолько близкими к своему пользователю, насколько это возможно.</p>`,
        },
        {
            title: 'Таргетирование целевой аудитории',
            text: `<p>По нашему мнению, SMM даёт исключительно работает с целевой аудиторией. Наличие открытого доступа к персональной информации пользователя социальной сети предоставляет шанс создавать рекламу для аудитории с учётом узких критериев: интересов, пола, возраста, места жительства и так далее. Наша команда создаст и разместит эффективную рекламу с точным прицелом на качественный результат.</p>`,
        },
        {
            title: 'Аналитика SMM',
            text: `<p>В SMM важно проводить постоянную аналитику, что мы и делаем качественно. Ежемесячно мы ведём учёт экономической эффективности интернет-маркетинга для вашей организации, проводим анализ целевой аудитории, нового трафика, конкурентной среды и выполняем изучение ниши сферы вашего бизнеса.</p>`,
        },
        {
            title: 'Мониторинг и работа с имиджем',
            text: `<p>Нельзя упускать тот факт, что в новостных лентах пользователи соцсетей активно делятся своим опытом и впечатлениями, что также касается и тех продуктов, которые рекламируются посредством SMM. У вашей компании появляется завидное преимущество — мгновенно реагировать на любые отзывы и сокращать дистанцию между продавцом и покупателем. Ведя диалог с клиентами напрямую, вы можете учитывать их мнения, лучше осознавая потребности, что в перспективе позволит вам улучшить продукт или обслуживание, а также увеличить целевую аудиторию. Мы, в свою очередь, окажем помощь в поддержке вашей деловой репутации, а также отрегулируем и интегрируем все актуальные процессы, связанные с ответами на отзывы и всякое взаимодействие с реальными и потенциальными клиентами.</p>`,
        },
        {
            title: 'Проведение промо-проектов',
            text: `<p>Разумеется, деятельность SMM заключается не только в управлении сообществами в соцсетях, но и в разработке промо-проектов для привлечения новой аудитории, а также удержания уже имеющейся. Если вашей компании нужен широкий охват аудитории, рост популярности и привлечение нового трафика, хорошей идеей будет дать старт интересному промо-проекту. Мы проводим промо-проекты в соцсетях, которые помогут не только популярно информировать о бренде, но и собрать важные данные для последующего взаимодействия с аудиторией.</p>`,
        },
    ]

-
    var tabsDevelop = [
        {
            title: 'Landing Page',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore doloremque itaque magni placeat, possimus ratione repudiandae sequi!</p>`,
        },
        {
            title: 'Корпоративный сайт',
            text: `<p>Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.</p>`,
        },
        {
            title: 'Интернет-магазин',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Поддержка сайтов',
            text: `<p>Передача сайта заказчику (перенос на отдельный хостинг), обучение работе с системой управления сайта (CMS) и дальнейшая техническая поддержка.</p><p><a href="site-support.html">подробнее</a></p>`,
        },
    ]

-
    var tabsSupport = [
        {
            title: 'Программирование',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore doloremque itaque magni placeat, possimus ratione repudiandae sequi!</p>`,
        },
        {
            title: 'Проектирование и дизайн',
            text: `<p>Устраняем технические проблемы. Анализируем работоспособность и скорость, устраняем ошибки, предупреждаем угрозы безопасности. Недоступность ресурса и потери данных не украдут прибыль компании.</p>`,
        },
        {
            title: 'Актуализация данных',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Администрирование',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit perferendis repudiandae saepe.</p>`,
        },
    ]

-
    var tabsAnalitics = [
        {
            title: 'Анализ спроса',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore doloremque itaque magni placeat, possimus ratione repudiandae sequi!</p>`,
        },
        {
            title: 'Структура сайта',
            text: `<p>Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.</p>`,
        },
        {
            title: 'Сравнительный анализ конкурентов',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Анализ ЦА',
            text: `<p>Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.</p>`,
        },
        {
            title: 'Анализ продукта',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Конверсионные сценарии',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit perferendis repudiandae saepe.</p>`,
        },
    ]

-
    var tabsStepsDev = [
        {
            title: 'Агрегация требований',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore doloremque itaque magni placeat, possimus ratione repudiandae sequi!</p>`,
        },
        {
            title: 'Проектирование и ТЗ',
            text: `<p>Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.</p>`,
        },
        {
            title: 'Дизайн',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Верстка',
            text: `<p>Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.</p>`,
        },
        {
            title: 'Программирование',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Тестирование',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit perferendis repudiandae saepe.</p>`,
        },
        {
            title: 'Запуск и поддержка',
            text: `<p>Передача сайта заказчику (перенос на отдельный хостинг), обучение работе с системой управления сайта (CMS) и дальнейшая техническая поддержка.</p>`,
        },
    ]

-
    var tabsStandarts = [
        {
            title: 'Персональный менеджер',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore doloremque itaque magni placeat, possimus ratione repudiandae sequi!</p>`,
        },
        {
            title: 'Прозрачность работ',
            text: `<p>Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.</p>`,
        },
        {
            title: 'Тестовые сервера и система контроля версий',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Индивидуальные условия обслуживания (SLA)',
            text: `<p>Технические новинки, предложения по улучшению юзабилити сайта, варианты решения бизнес-задач — это и многое другое наш подход к работе. Регулярные отчеты включают в себя понятные детальные описания о состоянии Вашего сервера и сайта</p>`,
        },
        {
            title: 'Персональные рекомендации по развитию',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
    ]

-
    var tabsContext = [
        {
            title: 'Реклама в Яндекс Директ',
            text: `<p>Мы знаем, как настроить и разместить рекламу в «Яндекс.Директ», чтобы она стала эффективным источником конверсионного трафика для вашего бизнеса. Эта услуга предоставляется в рамках комплекса платных каналов, реализованных на базе платформы Digital Marketing Integrator. Если вы уже используете контекстную рекламу в «Яндекс.Директ», то наш аудит кампаний поможет улучшить их эффективность и снизить стоимость одного перехода.</p>`,
        },
        {
            title: 'Продвижение в Яндекс Маркет',
            text: `<p>Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.</p>`,
        },
        {
            title: 'Реклама в Google Ads',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Эффективный ремаркетинг',
            text: `<p>Технические новинки, предложения по улучшению юзабилити сайта, варианты решения бизнес-задач — это и многое другое наш подход к работе. Регулярные отчеты включают в себя понятные детальные описания о состоянии Вашего сервера и сайта</p>`,
        },
        {
            title: 'RTB-реклама в Яндексе',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
    ]

-
    var tabsAdStep = [
        {
            title: 'Погружение в нишу',
            text: `<p>Вникаем в Ваш маркетинг продаж, а именно выясняем, как Вы продаёте, есть ли у Вас акции, спецпредложения и т.д. Выявляем сильные и слабые стороны Вашего сайта. Анализируем сайт на предмет наличия и качества рекламного предложения. Это придаст индивидуальности и конкурентной устойчивости вашему продукту.</p>`,
        },
        {
            title: 'Анализ конкурентов',
            text: `<p>Изучаем конкурентов их сильные и слабые стороны. Делаем анализ ключевых запросов и текстов объявлений. Выявленная информация поможет Вам отстроиться от конкурентов и выделить Вас среди прочих предложений.</p>`,
        },
        {
            title: 'Подбор ключевых фраз',
            text: `<p>Для Вас будет подобрано оптимальное количество ключевых фраз, отвечающих Вашим целям по объёму продаж и бюджету, от 100 до 50 000 ключевых запросов. Кроме того, будут прописаны минус-слова непосредственно для вашей ниши, без которых можно слить до половины бюджета.</p>`,
        },
        {
            title: 'Написание объявлений',
            text: `<p>Делаем нескольких продающих текстов объявлений по портрету клиента и выявленным выгодам. Это нужно для обнаружения в последствии более продающего варианта объявления с помощью А/Б тестов.</p>`,
        },
        {
            title: 'Сегментация кампании',
            text: `<p>Делим рекламные кампании на сегменты и категории. Увеличиваем управляемость и эффективность кампании.</p>`,
        },
        {
            title: 'Аналитика и оптимизация',
            text: `<p>Устанавливаем Яндекс метрику и Google Analytics. Настраиваем цели, устанавливаем UTM метки на каждое объявление. Это нужно для выявления более эффективных направлений (к примеру, перенос бюджета на более выгодные рекламные кампании или снижения стоимости конверсии), что обеспечит стабильный и не высокий бюджет на рекламу с высокой конверсией в продажу.</p>`,
        },
        {
            title: 'Ведение кампании',
            text: `<p>Обычно рекламодатели думают так: ведение рекламной кампании — это выбрасывание денег на ветер, однако по прошествии 2-3 месяцев к нам снова звонят, чтобы встать на ведение РК и причины тому следующие: заказов всё меньше, а расходов на рекламу всё больше.<br><b>Итак, что входит в ведение рекламной кампании:</b></p><ul>
                                <li>Оптимизация бюджета в зависимости от количества продаж;</li>
                                <li>А/Б тесты</li>
                                <li>Добавление ключевых фраз</li>
                                <li>Поддержка ставок</li>
                                <li>Улучшение всех KPI — ROI, показатель отказов, время на сайте, CTR, количество посещений, глубина просмотра</li>
                                <li>Минусация и уточнение ключевиков (чистка трафика)</li>
                                <li>Выявление эффективных и неэффективных ключевых фраз, распределение по ним бюджета</li>
                                <li>Снижение цены клика</li>
                                <li>Работа над улучшением качества трафика (работа с анализом целевой аудитории)</li>
                                <li>Мониторинг конкурентов</li>
                                <li>Оптимизация тематических площадок</li>
                            </ul>`,
        },
    ]

-
    var tabsSmm = [
        {
            title: 'Продвижение в Вконтакте',
            text: `<p>Социальная сеть «ВКонтакте» успешно работает для продвижения самых разных сфер бизнеса. Мы понимаем это и предлагаем клиентам самые новые инструменты и методы раскрутки групп Вконтакте. Гарантируем рациональное использование бюджета и прозрачные отчеты по выполненным работам. </p>`,
        },
        {
            title: 'Продвижение в Instagramm',
            text: `<p>Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.</p>`,
        },
        {
            title: 'Продвижение в Facebook',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Таргетироанная реклама',
            text: `<p>Технические новинки, предложения по улучшению юзабилити сайта, варианты решения бизнес-задач — это и многое другое наш подход к работе. Регулярные отчеты включают в себя понятные детальные описания о состоянии Вашего сервера и сайта</p>`,
        },
    ]

-
    var tabsHr = [
        {
            title: 'SMM-менеджер/Таргетолог',
            text: `<h5 class="h5 pl30">Обязанности:</h5>
                    <ul>
                      <li>Работа с контекстной рекламой Яндекс Директ/Google AdWords.</li>
                      <li>Создание, ведение, настройка и анализ эффективности рекламных кампаний.</li>
                      <li>Удержание цены заказа на нужном уровне.</li>
                      <li>Корректировка, подбор ключевых слов.</li>
                      <li>Составление «эффективных» объявлений.</li>
                    </ul>
                    <h5 class="h5 pl30">Необходимые навыки:</h5>
                    <ul>
                      <li>Наличие опыта настройки контекстных рекламных кампаний.</li>
                      <li>Работа с таргетированной рекламой будет плюсом</li>
                    </ul>
                    <h5 class="h5 pl30">Условия:</h5>
                    <ul>
                      <li>Стандартная рабочая неделя;</li>
                      <li>Стабильная заработная плата без задержек по итогам собеседования + бонус за KPI;</li>
                      <li>Гибкое начало дня (с 9 до 10);</li>
                      <li>Комфортное рабочее место.</li>
                    </ul>
                    <p><strong>Хочешь работать с нами?</strong> Высылай резюме и пару слов о себе на <a href="mailto:hr@itc-media.ru">hr@itc-media.ru</a>.</p>`,
        },
        {
            title: 'Битрикс-программист ',
            text: `<p>Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.</p>`,
        },
        {
            title: 'Frontend-разработчик',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'SEO-оптимизатор',
            text: `<p>Технические новинки, предложения по улучшению юзабилити сайта, варианты решения бизнес-задач — это и многое другое наш подход к работе. Регулярные отчеты включают в себя понятные детальные описания о состоянии Вашего сервера и сайта</p>`,
        },
        {
            title: 'Директолог',
            text: `<p>Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.</p>`,
        },
        {
            title: 'Менеджер проектов',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Менеджер по продажам',
            text: `<p>Технические новинки, предложения по улучшению юзабилити сайта, варианты решения бизнес-задач — это и многое другое наш подход к работе. Регулярные отчеты включают в себя понятные детальные описания о состоянии Вашего сервера и сайта</p>`,
        },
        {
            title: 'Копирайтер',
            text: `<p>Технические новинки, предложения по улучшению юзабилити сайта, варианты решения бизнес-задач — это и многое другое наш подход к работе. Регулярные отчеты включают в себя понятные детальные описания о состоянии Вашего сервера и сайта</p>`,
        },
    ]

-
    var topCases = [
        {
            name: 'МСК Групп',
            link: '#',
            text: 'Domino’s Pizza — крупнейшая в мире сеть пиццерий. Требовалось повысить видимость в поисковых системах в сегменте доставки еды и увеличить число онлайн-продаж. ',
            images: [
                'images/content/msk-group.jpg',
                'images/content/msk-group.jpg',
            ],
            cols: [
                {
                    num: '+812%',
                    desc: 'прирост количества <br>заявок',
                },

            ],
        },
        {
            name: 'Дом.ру',
            link: '#',
            text: 'Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.',
            images: [
                'images/content/chicken.jpg',
            ],
            cols: [
                {
                    num: '+97',
                    desc: 'заявок <br>в сегменте B2B',
                },
            ],
        },
        {
            name: 'Амкадор',
            link: '#',
            text: 'Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.',
            images: [
                'images/content/chicken.jpg',
            ],
            cols: [
                {
                    num: '113',
                    desc: 'столов было забронировано онлайн в 1-й месяц',
                },
                {
                    num: '110',
                    desc: 'заказов доставки с сайта в первый месяц',
                },
            ],
        },

    ]

-
    var clients = [
        {
            src: 'images/content/clients/lovit.png',
            alt: 'lovit))'
        },
        {
            src: 'images/content/clients/fujida.png',
            alt: 'Fujida'
        },
        {
            src: 'images/content/clients/domru.png',
            alt: 'Дом.ру (БКС)'
        },
        {
            src: 'images/content/clients/amkodor.png',
            alt: 'Амкадор'
        },
        {
            src: 'images/content/clients/2gis.png',
            alt: '2Gis'
        },
        {
            src: 'images/content/clients/amam.png',
            alt: 'Ам-Ам'
        },
        {
            src: 'images/content/clients/terfit.png',
            alt: 'Территория фитнеса'
        },
        {
            src: 'images/content/clients/ohotno.png',
            alt: 'Охотно'
        },
        {
            src: 'images/content/clients/tele2.png',
            alt: 'Tele 2'
        },
        {
            src: 'images/content/clients/mebgrad.png',
            alt: 'Мебельград'
        },

    ]

-
    var feedbacks = [
        {
            name: 'ООО «Дейта-Сервис»',
            text: 'ООО «Дейта-Сервис» благодарит Вас за разработку и сопровождение сайтов нашей компании. В ходе сотрудничества с компанией «ITC MEDIA» мы получили качественный продукт, помогающий нам в поиске новых клиентов и возможностей для развития бизнеса.',
        },
        {
            name: 'АО «ЭР-Телеком Холдинг»',
            text: 'АО "ЭР-Телеком Холдинг" благодарит компанию ITC MEDIA за плодотворное сотрудничество по поисковому продвижению и технической поддержке сайтов bks.tv и bstk.bks.tv. Сотрудники ITC MEDIA проявляют себя как профессиональная команда.',
            original: 'images/content/feedback/bks.jpg',
        },
        {
            name: 'ООО «Семейный доктор»',
            text: 'Искренне признательны за добросовестное отношение, подбор и внедрение оптимальных решений по визуализации составляющей и процессу поискового продвижения сайта.',
            original: 'images/content/feedback/doctor.png',
        },
        {
            name: 'ООО «Дятьковская Стекольная Артель»',
            text: 'ООО Дятьковская Стекольная Артель (изготовление и продажа изделий из хрусталя и стекла) выражает свою благодарность ООО «ITC-MEDIA» Которая показала высокий уровень мастерства в разработке, создании и продвижении сайта.',
        },
        {
            name: 'ООО «Клиника «Прайм Медикал»',
            text: 'Руководство и коллектив ООО «Клиника «Прайм Медикал» благодарит компанию ITC Media за плодотворное сотрудничество в сфере продвижения и оптимизации сайта нашей компании.',
        },
    ]

-
    var ourRules = [
        {
            name: 'Взаимодействие с пользователем',
            text: 'Контент — король. Визуальный слой — декорация сильного смысла, который продуман и выявлен с помощью маркетинговой аналитики.',
        },
        {
            name: 'Маркетинг в основе',
            text: 'АО "ЭР-Телеком Холдинг" благодарит компанию ITC MEDIA за плодотворное сотрудничество по поисковому продвижению и технической поддержке сайтов bks.tv и bstk.bks.tv. Сотрудники ITC MEDIA проявляют себя как профессиональная команда.',
        },
        {
            name: 'Взаимодействие с пользователем 3',
            text: 'Искренне признательны за добросовестное отношение, подбор и внедрение оптимальных решений по визуализации составляющей и процессу поискового продвижения сайта.',
        },
        {
            name: 'Взаимодействие с пользователем 4',
            text: 'ООО Дятьковская Стекольная Артель (изготовление и продажа изделий из хрусталя и стекла) выражает свою благодарность ООО «ITC-MEDIA» Которая показала высокий уровень мастерства в разработке, создании и продвижении сайта.',
        },
        {
            name: 'Взаимодействие с пользователем 5',
            text: 'Руководство и коллектив ООО «Клиника «Прайм Медикал» благодарит компанию ITC Media за плодотворное сотрудничество в сфере продвижения и оптимизации сайта нашей компании.',
        },
    ]

-
    var ourRulesDev = [
        {
            name: 'Маркетинг в основе',
            text: 'АО "ЭР-Телеком Холдинг" благодарит компанию ITC MEDIA за плодотворное сотрудничество по поисковому продвижению и технической поддержке сайтов bks.tv и bstk.bks.tv. Сотрудники ITC MEDIA проявляют себя как профессиональная команда.',
        },
        {
            name: 'Взаимодействие с пользователем',
            text: 'Контент — король. Визуальный слой — декорация сильного смысла, который продуман и выявлен с помощью маркетинговой аналитики.',
        },
        {
            name: 'Взаимодействие с пользователем 3',
            text: 'Искренне признательны за добросовестное отношение, подбор и внедрение оптимальных решений по визуализации составляющей и процессу поискового продвижения сайта.',
        },
        {
            name: 'Взаимодействие с пользователем 4',
            text: 'ООО Дятьковская Стекольная Артель (изготовление и продажа изделий из хрусталя и стекла) выражает свою благодарность ООО «ITC-MEDIA» Которая показала высокий уровень мастерства в разработке, создании и продвижении сайта.',
        },
        {
            name: 'Взаимодействие с пользователем 5',
            text: 'Руководство и коллектив ООО «Клиника «Прайм Медикал» благодарит компанию ITC Media за плодотворное сотрудничество в сфере продвижения и оптимизации сайта нашей компании.',
        },
    ]

-
    var metrix = [
        {
            name: 'Показатель отказов',
            text: 'Получите очищенные ключевые слова от мусорных добавок, таких как: «бесплатно», «скачать», «торрент» и т.д. (в зависимости от ниши) и приведем клиента на нужную для него страницу Вашего сайта, в свою очередь, и сайт должен быть нормальным (продающим). После выполнения этих действий показатель отказов станет минимальным.',
        },
        {
            name: 'Время на сайте',
            text: 'За счёт проработки "мусорных" добавок Вы обеспечите себе посещение сайта только целевой аудиторией, которая выразит свою заинтересованность в длительности пребывания на сайте.',
        },
        {
            name: 'Вернувшиеся уникальные посетители',
            text: 'Очень интересный показатель, говорящий сам за себя, ведь вернувшиеся посетители − это Ваши потенциальные клиенты. Они не единожды посещали Ваш сайт, а значит, Ваше предложение их заинтересовало.',
        },
        {
            name: 'CTR',
            text: 'В продающей кампании, где хорошо проработана информация по Вашей аудитории, специфике предложения и конкурентам, CTR должен быть высоким. Это значит, что Ваше предложение вызвало широкий интерес у потенциальных клиентов. Кстати, высокий CTR увеличивает рейтинг домена, что приводит к снижению цены за клик для Ваших объявлений впоследствии.',
        },
        {
            name: 'Цели',
            text: 'С помощью целей отслеживаем ключевые слова и площадки приносящие конверсию, а значит продажи и отключаем те, которые мусорные и не рентабельные, тем самым экономя ваши деньги. Настраиваем ретаргетинг (показ объявлений той аудитории, которая была на вашем сайте) позволяющий обратиться к аудитории с новым интересным предложением и многое другое.',
        },
        {
            name: 'Окупаемость',
            text: 'Если Ваша ниша очень конкурентна, и цены для Вас слишком высоки, в этом случае, для Вас будут подобраны стратегии, позволяющие снизить стоимость клика, при минимизации потери охвата. Стоит также отметить, что мы рассчитаем для Вас максимальную цену за клик, чтобы Вы не вышли за пределы нормальной нормы прибыльности. Далее, имея средние цифры по конверсии сайта и объёму трафика, можно приблизительно рассчитать окупаемость проекта.',
        },
    ]

-
    var keyMetrix = [
        {
            name: 'Количество подписчиков',
            text: 'Рост подписчиков на ваших каналах это естественный процесс при грамотном подходе к продвижению в социальных сетях. Для привлечения новых подписчиков мы разрабатываем различные конкурсы и промо-проекты.',
        },
        {
            name: 'Взаимодействие с пользователем',
            text: 'Контент — король. Визуальный слой — декорация сильного смысла, который продуман и выявлен с помощью маркетинговой аналитики.',
        },
        {
            name: 'Взаимодействие с пользователем 3',
            text: 'Искренне признательны за добросовестное отношение, подбор и внедрение оптимальных решений по визуализации составляющей и процессу поискового продвижения сайта.',
        },
        {
            name: 'Взаимодействие с пользователем 4',
            text: 'ООО Дятьковская Стекольная Артель (изготовление и продажа изделий из хрусталя и стекла) выражает свою благодарность ООО «ITC-MEDIA» Которая показала высокий уровень мастерства в разработке, создании и продвижении сайта.',
        },
        {
            name: 'Взаимодействие с пользователем 5',
            text: 'Руководство и коллектив ООО «Клиника «Прайм Медикал» благодарит компанию ITC Media за плодотворное сотрудничество в сфере продвижения и оптимизации сайта нашей компании.',
        },
    ]

-
    var promBadges = {
        text: 'Как показывает практика, разработка сайта без участия интернет-маркетолога, приводит к плачевным результатам: сайты остаются незаметными для пользователей. Привлечь так необходимый трафик может лишь основательная маркетинговая подготовка.',
        badges: [
            {
                icon: 'bitrix-small',
                desc: 'Участник программы мониторинга качества внедрений',
            },
            {
                icon: 'bitrix-small',
                desc: 'Золотой партнер 1С-Битрикс',
            },
            {
                icon: 'garant',
                desc: 'Гарантия 6 мес',
            },
        ]

    }

-
    var developBadges = {
        text: 'Как показывает практика, разработка сайта без участия интернет-маркетолога, приводит к плачевным результатам: сайты остаются незаметными для пользователей. Привлечь так необходимый трафик может лишь основательная маркетинговая подготовка.',
        badges: [
            {
                icon: 'bitrix-small',
                desc: 'Участник программы мониторинга качества внедрений',
            },
            {
                icon: 'bitrix-small',
                desc: 'Золотой партнер 1С-Битрикс',
            },
            {
                icon: 'garant',
                desc: 'Создаём сайты с учётом требований поисковиков',
            },
        ]

    }

-
    var supportBadges = {
        text: 'Современные сайты являются результатом непрерывной модернизации в соответствии с постоянно растущими требованиями развивающегося бизнеса. Отдел поддержки в составе нашей компании, располагает всеми возможностями для оказания полного комплекса услуг по обслуживанию сайтов и их доработке.',
        badges: [
            {
                icon: 'bitrix-small',
                desc: 'Мониторинг сайтов и серверов 24/7',
            },
            {
                icon: 'bitrix-small',
                desc: 'Поддержка в формате выделенной команды',
            },
            {
                icon: 'garant',
                desc: 'Индивидуальне условия обслуживания',
            },
        ]

    }

-
    var contextBadges = {
        text: 'Настройка и ведение контекстной рекламы в Яндекс.Директ и Google Adwords — это не только грамотный подбор ключевых запросов с периодическим расширением их перечня, написание продающих текстов объявлений, выбор оптимальной стратегии управления ставками и работа над их оптимизацией, но и умение прогнозировать ход рекламных кампаний в сети интернет исходя из полученных результатов.',
        badges: [
            {
                icon: 'bitrix-small',
                desc: 'Сертифицированные специалисты',
            },
            {
                icon: 'bitrix-small',
                desc: 'Не берем процентов из рекламного бюджета',
            },
            {
                icon: 'garant',
                desc: 'Передовые технологии управления',
            },
        ]

    }

-
    var smmBadges = {
        text: 'Продвижение в социальных сетях является новой «фишкой» в сфере интернет-маркетинга, которая позволит вам эффективно взаимодействовать с целевой аудиторией, заинтересованной в определённых товарах или услугах. Вы сможете выстраивать прямое общение с вашими клиентами, завоёвывать их лояльность и даже проводить точечную рекламу, основанную на информации с личных страниц пользователей.',
        badges: [
            {
                icon: 'bitrix-small',
                desc: 'Сертифицированные специалисты',
            },
            {
                icon: 'bitrix-small',
                desc: 'Авторская стратегия SMM-продвижения',
            },
            {
                icon: 'garant',
                desc: 'Используем только белые методы',
            },
        ]

    }

-
    var promAvideo = {
        title: 'Авторская методика продвижения',
        bg: 'showreel_bg.jpg',
        subtitle: 'Вы уверены что Ваше SEO работает на 100%?',
        link: 'https://youtu.be/I_l8eApu9G4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0',
        steps: [
            'Собираем "длинный хвост"',
            'Изучаем потенциал ключевых слов',
            'Используем карту релевантости',
            'Увеличиваем охват',
        ]
    }

-
    var devAvideo = {
        title: 'Рассказываем о процессе создания сайта',
        bg: 'showreel_bg.jpg',
        subtitle: 'Крутая аналитика в основе наших проектов!',
        link: 'https://youtu.be/I_l8eApu9G4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0',
        steps: [
            'Анализируем целевую аудиторию',
            'Прорабатываем сценарии поведения ',
            'Подключаем SEO на этапе проектирования',
            'Проводим сложные интеграции',
        ]
    }

-
    var supportAvideo = {
        title: 'Рассказываем о процессе поддержки сайтов',
        bg: 'showreel_bg.jpg',
        subtitle: 'Помогаем вашему сайту идти в ногу со временем!',
        link: 'https://youtu.be/I_l8eApu9G4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0',
        steps: [
            'Мониторинг сайтов и серверов 24/7',
            'Сертифичированные Битрикс разработчики',
            'Система постановки и контроля выполнения задач',
            'Участвуем в программе мониторинга качества внедрений',
        ]
    }

-
    var events = {
        imgs: [
            'skolkovo.jpg',
            'skolkovo.jpg',
        ],
        content: [
            'ITC является экспертом крупнейшего в России Digital кластера - РАЭК. ',
            'Мы регулярно участвуем в различных отраслевых конференциях как в качестве слушателей, так и выступаем спикерами по темам, связанным с интернет-маркетингом. ',
        ]
    }

-
    var corpLife = {
        imgs: [
            'corp-life.jpg',
            'skolkovo.jpg',
        ],
        content: [
            'У нас молодой и дружный коллектив, а также насыщенная корпоративная жизнь. Мы любим отдохнуть и пообщаться в неформальной обстановке в кругу единомышленников.',
            'Многие корпоративные мероприятия мы совмещаем с обучением сотрудников чему-то новому.',
            'Внутренний обучающий портал помогает быстро осваивать новые навыки и применять их в работе.',
        ]
    }

-
    var еtestCard = {
        title: 'Брянский лес',
        desc: 'Разработка новой версии сайта для Брянского заповедника',
        link: '#',
        img: 'forest32.png',
        cols: [
            {
                num: '25+',
                text: 'столов было забронировано онлайн в 1-й месяц',
            },
            {
                num: '2',
                text: 'заказов доставки с сайта в первый месяц',
            },
        ],
        type: 'dev',
    }

-
    var еtestCard2 = {
        title: 'Брянский лес',
        desc: 'Разработка новой версии сайта для Брянского заповедника',
        link: '#',
        img: 'inrus.png',
        cols: [
            {
                num: '25+',
                text: 'столов было забронировано онлайн в 1-й месяц',
            },
            {
                num: '2',
                text: 'заказов доставки с сайта в первый месяц',
            },
        ],
        type: 'dev',
        width: '130%',
    }

-
    var marketingCards = [
        {
            title: 'МСК Групп',
            desc: 'Разработка новой версии сайта для Брянского заповедника',
            link: '#',
            img: 'msk_group.jpg',
            cols: [
                {
                    num: '25+',
                    text: 'столов было забронировано онлайн в 1-й месяц',
                },
                {
                    num: '2',
                    text: 'заказов доставки с сайта в первый месяц',
                },
            ],
            type: 'marketing',
        },
        {
            title: 'МСК Групп',
            desc: 'Разработка новой версии сайта для Брянского заповедника',
            link: '#',
            img: 'msk_group.jpg',
            cols: [
                {
                    num: '25+',
                    text: 'столов было забронировано онлайн в 1-й месяц',
                },
                {
                    num: '2',
                    text: 'заказов доставки с сайта в первый месяц',
                },
            ],
            type: 'marketing',
        },
        {
            title: 'МСК Групп',
            desc: 'Разработка новой версии сайта для Брянского заповедника',
            link: '#',
            img: 'msk_group.jpg',
            cols: [
                {
                    num: '25+',
                    text: 'столов было забронировано онлайн в 1-й месяц',
                },
                {
                    num: '2',
                    text: 'заказов доставки с сайта в первый месяц',
                },
            ],
            type: 'marketing',
        },
    ]

-
    var developCards = [
        {
            title: `Августин`,
            desc: `Разработка новой версии сайта для пивного ресторана`,
            link: `#`,
            img: `forest32.png`,
            cols: [
                {
                    num: `100+`,
                    text: `столов было забронировано онлайн в 1-й месяц`,
                },
                {
                    num: `R-Keeper`,
                    text: `настроена синхронизация  с меню на сайте`,
                },
            ],
            type: `dev`,
        },
        {
            title: `Агроэксперт`,
            desc: `Разработка новой версии сайта для комбикормового завода`,
            link: `#`,
            img: `inrus.png`,
            width: '120%',
            cols: [
                {
                    num: `3D-анимация`,
                    text: `на сайте выполнена в рамках разработки проекта`,
                },
                {
                    num: `Битрикс24`,
                    text: `проведена интеграция сайта  с CRM`,
                },
            ],
            type: `dev`,
        },
        {
            title: `КвинТур`,
            desc: `Разработка новой версии сайта для туристической компании`,
            link: `#`,
            img: `inrus.png`,
            width: '120%',
            cols: [
                {
                    num: `1000+`,
                    text: `туров по различным направлениям на сайте`,
                },
                {
                    num: `Самотур`,
                    text: `проведена интеграция с системой онлайн-бронирования`,
                },
            ],
            type: `dev`,
        },
        {
            title: `БэстАвто`,
            desc: `Разработка нового сайта для оптового магазина автозапчастей`,
            link: `#`,
            img: `forest32.png`,
            cols: [
                {
                    num: `8000+ SKU`,
                    text: `товарных единиц, содержит каталог товаров`,
                },
                {
                    num: `1C`,
                    text: `синхронизация с каталогом товаров`,
                },
            ],
            type: `dev`,
        },
        {
            title: `Криостар`,
            desc: `Разработка нового сайта для оптового магазина автозапчастей`,
            link: `#`,
            img: `inrus.png`,
            width: '120%',
            cols: [
                {
                    num: `3D-анимация`,
                    text: `на сайте выполнена в рамках разработки проекта`,
                },
                {
                    num: `Битрикс24`,
                    text: `проведена интеграция сайта  с CRM`,
                },
            ],
            type: `dev`,
        },
        {
            title: `MiAmour`,
            desc: `Разработка нового сайта для магазина цветов`,
            link: `#`,
            img: `inrus.png`,
            width: '120%',
            cols: [
                {
                    num: `3D-анимация`,
                    text: `на сайте выполнена в рамках разработки проекта`,
                },
                {
                    num: `Битрикс24`,
                    text: `проведена интеграция сайта  с CRM`,
                },
            ],
            type: `dev`,
        },
        {
            title: `Дятьковский хрусталь`,
            desc: `Разработка нового сайта для торговой марки «Шувалов»`,
            link: `#`,
            img: `inrus.png`,
            width: '120%',
            cols: [
                {
                    num: `в 1790 году`,
                    text: `заложено производство  стекла и хрусталя`,
                },
                {
                    num: `1000+`,
                    text: `выпускаемых ежедневно изделий`,
                },
            ],
            type: `dev`,
        },
        {
            title: `Радуга окон`,
            desc: `Разработка новой версии сайта для оконной компании`,
            link: `#`,
            img: `inrus.png`,
            width: '120%',
            cols: [
                {
                    num: `Калькулятор`,
                    text: `для подбора окна любой конфигурации`,
                },
                {
                    num: `Битрикс24`,
                    text: `проведена интеграция сайта  с CRM`,
                },
            ],
            type: `dev`,
        },
        {
            title: `Брянский лес`,
            desc: `Разработка новой версии сайта для оконной компании`,
            link: `#`,
            img: `inrus.png`,
            width: '120%',
            cols: [
                {
                    num: `Калькулятор`,
                    text: `для подбора окна любой конфигурации`,
                },
                {
                    num: `Битрикс24`,
                    text: `проведена интеграция сайта  с CRM`,
                },
            ],
            type: `dev`,
        },
    ]

-
    var posts = [
        {
            title: `Дизайн, основанный на опыте пользователя`,
            type: `Интернет-маркетинг`,
            link: `#`,
            img: `design.jpg`,
        },
        {
            title: `Вся правда про SSL-сертификаты`,
            type: `Разработка`,
            link: `#`,
            img: `ssl.jpg`,
        },
        {
            title: `A/B тестирование  и оптимизация страниц`,
            type: `Разработка`,
            link: `#`,
            img: `abtest.jpg`,
        },
        {
            title: `Дизайн, основанный на опыте пользователя`,
            type: `Интернет-маркетинг`,
            link: `#`,
            img: `design.jpg`,
        },
        {
            title: `A/B тестирование и оптимизация страниц`,
            type: `Разработка`,
            link: `#`,
            img: `abtest.jpg`,
        },
        {
            title: `Вся правда про SSL-сертификаты`,
            type: `Интернет-маркетинг`,
            link: `#`,
            img: `ssl.jpg`,
        },
    ]