-
    var socialIcons = [
        {
            name: 'Agima',
            link: '#',
            icon: 'agima',
        },
        {
            name: 'FaceBook',
            link: '#',
            icon: 'fb',
        },
        {
            name: 'VK',
            link: '#',
            icon: 'vk',
        },
        {
            name: 'Instagram',
            link: '#',
            icon: 'insta',
        },
    ]
-
    var mainMenu = [
        {
            name: 'Порфолио',
            link: '#'
        },
        {
            name: 'Услуги',
            link: '#'
        },
        {
            name: 'Компания',
            link: '#'
        },
        {
            name: 'Блог',
            link: '#'
        },
        {
            name: 'Контакты',
            link: '#'
        },
    ]
-
    var secondMenu = [
        {
            name: 'Разработка сайтов',
            link: '#'
        },
        {
            name: 'Поисковое продвижение',
            link: '#'
        },
        {
            name: 'Социальный маркетинг',
            link: '#'
        },
        {
            name: 'Контекстная реклама',
            link: '#'
        },
        {
            name: 'Поддержка сайтов',
            link: '#'
        },
        {
            name: 'Веб-аналитика',
            link: '#'
        }
    ]
-
    var cities = [
        {
            name: 'Брянск',
            link: '#'
        },
        {
            name: 'Москва',
            link: '#'
        },
        {
            name: 'Казань',
            link: '#'
        },
        {
            name: 'Краснодар',
            link: '#'
        },
        {
            name: 'Нижний Новгород',
            link: '#'
        },
        {
            name: 'Ростов',
            link: '#'
        },
        {
            name: 'Симферополь',
            link: '#'
        },
        {
            name: 'Санкт-Петербург',
            link: '#'
        },
    ]