-
    var socialIcons = [
        {
            name: 'Agima',
            link: '#',
            icon: 'agima',
        },
        {
            name: 'FaceBook',
            link: '#',
            icon: 'fb',
        },
        {
            name: 'VK',
            link: '#',
            icon: 'vk',
        },
        {
            name: 'Instagram',
            link: '#',
            icon: 'insta',
        },
    ]
-
    var mainMenu = [
        {
            name: 'Порфолио',
            link: '#'
        },
        {
            name: 'Услуги',
            link: '#'
        },
        {
            name: 'Компания',
            link: '#'
        },
        {
            name: 'Блог',
            link: '#'
        },
        {
            name: 'Контакты',
            link: '#'
        },
    ]
-
    var secondMenu = [
        {
            name: 'Продвижение сайта',
            link: 'site-promotion.html'
        },
        {
            name: 'Контекстная реклама',
            link: '#'
        },
        {
            name: 'Таргетированная реклама',
            link: '#'
        },
        {
            name: 'Маркетинг в соцсетях',
            link: '#'
        },
        {
            name: 'Разработка и развитие сайтов',
            link: '#'
        },
    ]
-
    var cities = [
        {
            name: 'Брянск',
            link: '#'
        },
        {
            name: 'Москва',
            link: '#'
        },
        {
            name: 'Казань',
            link: '#'
        },
        {
            name: 'Краснодар',
            link: '#'
        },
        {
            name: 'Нижний Новгород',
            link: '#'
        },
        {
            name: 'Ростов',
            link: '#'
        },
        {
            name: 'Симферополь',
            link: '#'
        },
        {
            name: 'Санкт-Петербург',
            link: '#'
        },
    ]
-
    var tabsIndex = [
        {
            title: 'Поисковое продвижение',
            text: '<p>Продвигаем по трафику, позициям и часам. Ставим, строим стратегию продвижения на полгода вперед.</p> <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>',
        },
        {
            title: 'Контекстная реклама',
            text: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum error illum ipsam iste laborum minima necessitatibus obcaecati quis quisquam repellendus sint temporibus totam veniam?</p> <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>',
        },
        {
            title: 'Продвижение в соцсетях',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid at blanditiis cumque enim, ipsum numquam possimus quis repudiandae? Aliquid animi dignissimos impedit ipsum nulla quae quis rem repellendus reprehenderit?</p>
                    <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>`,
        },
        {
            title: 'Разработка сайтов',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem commodi hic ipsam iste iure obcaecati omnis provident voluptatem? Facere reprehenderit, voluptate?</p>
                    <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>`,
        },
        {
            title: 'Поддержка сайтов',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt facere incidunt quibusdam rem repellendus voluptas?</p>
                    <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>`,
        },
    ]
-
    var tabsPromo1 = [
        {
            title: 'Гибридное SEO',
            text: `  <ul>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                      </ul>`,
        },
        {
            title: 'Продвижение в регионах',
            text: `  <ul>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                      </ul>`,
        },
        {
            title: 'Продвижение в Москве',
            text: `  <ul>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                      </ul>`,
        },
        {
            title: 'Продвижение по РФ',
            text: `  <ul>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                      </ul>`,
        },
        {
            title: 'SEO на этапе разработки',
            text: `  <ul>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                      </ul>`,
        },
        {
            title: 'SEO поддержка',
            text: `  <ul>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                      </ul>`,
        },
    ]
-
    var tabsStrategy = [
        {
            title: 'Анализ ЦА',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore doloremque itaque magni placeat, possimus ratione repudiandae sequi!</p>`,
        },
        {
            title: 'Сезонность и спрос',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolore eius neque possimus quis, ullam ut voluptatem?</p>`,
        },
        {
            title: 'Анализ продуктов',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Технический анализ',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit perferendis repudiandae saepe.</p>`,
        },
        {
            title: 'Поведенческий анализ',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet, ex iusto molestias saepe sed.</p>`,
        },
        {
            title: 'Прогнозы и сроки',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, tenetur!</p>`,
        },
        {
            title: 'Отчетность',
            text: `<p>Передача сайта заказчику (перенос на отдельный хостинг), обучение работе с системой управления сайта (CMS) и дальнейшая техническая поддержка.</p>`,
        },
    ]

-
    var topCases = [
        {
            name: 'МСК Групп',
            link: '#',
            text: 'Domino’s Pizza — крупнейшая в мире сеть пиццерий. Требовалось повысить видимость в поисковых системах в сегменте доставки еды и увеличить число онлайн-продаж. ',
            images: [
                'images/content/msk-group.jpg',
                'images/content/msk-group.jpg',
            ],
            cols: [
                {
                    num: '+812%',
                    desc: 'прирост количества <br>заявок',
                },

            ],
        },
        {
            name: 'Дом.ру',
            link: '#',
            text: 'Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.',
            images: [
                'images/content/chicken.jpg',
            ],
            cols: [
                {
                    num: '+97',
                    desc: 'заявок <br>в сегменте B2B',
                },
            ],
        },
        {
            name: 'Амкадор',
            link: '#',
            text: 'Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.',
            images: [
                'images/content/chicken.jpg',
            ],
            cols: [
                {
                    num: '113',
                    desc: 'столов было забронировано онлайн в 1-й месяц',
                },
                {
                    num: '110',
                    desc: 'заказов доставки с сайта в первый месяц',
                },
            ],
        },

    ]

-
    var clients = [
        {
            src: 'images/content/clients/lovit.png',
            alt: 'lovit))'
        },
        {
            src: 'images/content/clients/fujida.png',
            alt: 'Fujida'
        },
        {
            src: 'images/content/clients/domru.png',
            alt: 'Дом.ру (БКС)'
        },
        {
            src: 'images/content/clients/amkodor.png',
            alt: 'Амкадор'
        },
        {
            src: 'images/content/clients/2gis.png',
            alt: '2Gis'
        },
        {
            src: 'images/content/clients/amam.png',
            alt: 'Ам-Ам'
        },
        {
            src: 'images/content/clients/terfit.png',
            alt: 'Территория фитнеса'
        },
        {
            src: 'images/content/clients/ohotno.png',
            alt: 'Охотно'
        },
        {
            src: 'images/content/clients/tele2.png',
            alt: 'Tele 2'
        },
        {
            src: 'images/content/clients/mebgrad.png',
            alt: 'Мебельград'
        },

    ]

-
    var feedbacks = [
        {
            name: 'ООО «Дейта-Сервис»',
            text: 'ООО «Дейта-Сервис» благодарит Вас за разработку и сопровождение сайтов нашей компании. В ходе сотрудничества с компанией «ITC MEDIA» мы получили качественный продукт, помогающий нам в поиске новых клиентов и возможностей для развития бизнеса.',
        },
        {
            name: 'АО «ЭР-Телеком Холдинг»',
            text: 'АО "ЭР-Телеком Холдинг" благодарит компанию ITC MEDIA за плодотворное сотрудничество по поисковому продвижению и технической поддержке сайтов bks.tv и bstk.bks.tv. Сотрудники ITC MEDIA проявляют себя как профессиональная команда.',
            original: 'images/content/feedback/bks.jpg',
        },
        {
            name: 'ООО «Семейный доктор»',
            text: 'Искренне признательны за добросовестное отношение, подбор и внедрение оптимальных решений по визуализации составляющей и процессу поискового продвижения сайта.',
            original: 'images/content/feedback/doctor.png',
        },
        {
            name: 'ООО «Дятьковская Стекольная Артель»',
            text: 'ООО Дятьковская Стекольная Артель (изготовление и продажа изделий из хрусталя и стекла) выражает свою благодарность ООО «ITC-MEDIA» Которая показала высокий уровень мастерства в разработке, создании и продвижении сайта.',
        },
        {
            name: 'ООО «Клиника «Прайм Медикал»',
            text: 'Руководство и коллектив ООО «Клиника «Прайм Медикал» благодарит компанию ITC Media за плодотворное сотрудничество в сфере продвижения и оптимизации сайта нашей компании.',
        },
    ]


-
    var ourRules = [
        {
            name: 'Взаимодействие с пользователем',
            text: 'Контент — король. Визуальный слой — декорация сильного смысла, который продуман и выявлен с помощью маркетинговой аналитики.',
        },
        {
            name: 'Маркетинг в основе',
            text: 'АО "ЭР-Телеком Холдинг" благодарит компанию ITC MEDIA за плодотворное сотрудничество по поисковому продвижению и технической поддержке сайтов bks.tv и bstk.bks.tv. Сотрудники ITC MEDIA проявляют себя как профессиональная команда.',
        },
        {
            name: 'Взаимодействие с пользователем 3',
            text: 'Искренне признательны за добросовестное отношение, подбор и внедрение оптимальных решений по визуализации составляющей и процессу поискового продвижения сайта.',
        },
        {
            name: 'Взаимодействие с пользователем 4',
            text: 'ООО Дятьковская Стекольная Артель (изготовление и продажа изделий из хрусталя и стекла) выражает свою благодарность ООО «ITC-MEDIA» Которая показала высокий уровень мастерства в разработке, создании и продвижении сайта.',
        },
        {
            name: 'Взаимодействие с пользователем 5',
            text: 'Руководство и коллектив ООО «Клиника «Прайм Медикал» благодарит компанию ITC Media за плодотворное сотрудничество в сфере продвижения и оптимизации сайта нашей компании.',
        },
    ]