-
    var socialIcons = [
        {
            name: 'Agima',
            link: '#',
            icon: 'agima',
        },
        {
            name: 'FaceBook',
            link: '#',
            icon: 'fb',
        },
        {
            name: 'VK',
            link: '#',
            icon: 'vk',
        },
        {
            name: 'Instagram',
            link: '#',
            icon: 'insta',
        },
    ]
-
    var mainMenu = [
        {
            name: 'Порфолио',
            link: '#'
        },
        {
            name: 'Услуги',
            link: '#'
        },
        {
            name: 'Компания',
            link: '#'
        },
        {
            name: 'Блог',
            link: '#'
        },
        {
            name: 'Контакты',
            link: '#'
        },
    ]
-
    var secondMenu = [
        {
            name: 'Продвижение сайта',
            link: 'site-promotion.html'
        },
        {
            name: 'Контекстная реклама',
            link: '#'
        },
        {
            name: 'Таргетированная реклама',
            link: '#'
        },
        {
            name: 'Маркетинг в соцсетях',
            link: '#'
        },
        {
            name: 'Разработка и развитие сайтов',
            link: '#'
        },
    ]
-
    var cities = [
        {
            name: 'Брянск',
            link: '#'
        },
        {
            name: 'Москва',
            link: '#'
        },
        {
            name: 'Казань',
            link: '#'
        },
        {
            name: 'Краснодар',
            link: '#'
        },
        {
            name: 'Нижний Новгород',
            link: '#'
        },
        {
            name: 'Ростов',
            link: '#'
        },
        {
            name: 'Симферополь',
            link: '#'
        },
        {
            name: 'Санкт-Петербург',
            link: '#'
        },
    ]
-
    var tabsIndex = [
        {
            title: 'Поисковое продвижение',
            text: '<p>Продвигаем по трафику, позициям и часам. Ставим, строим стратегию продвижения на полгода вперед.</p> <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>',
        },
        {
            title: 'Контекстная реклама',
            text: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum error illum ipsam iste laborum minima necessitatibus obcaecati quis quisquam repellendus sint temporibus totam veniam?</p> <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>',
        },
        {
            title: 'Продвижение в соцсетях',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid at blanditiis cumque enim, ipsum numquam possimus quis repudiandae? Aliquid animi dignissimos impedit ipsum nulla quae quis rem repellendus reprehenderit?</p>
                    <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>`,
        },
        {
            title: 'Разработка сайтов',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem commodi hic ipsam iste iure obcaecati omnis provident voluptatem? Facere reprehenderit, voluptate?</p>
                    <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>`,
        },
        {
            title: 'Поддержка сайтов',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt facere incidunt quibusdam rem repellendus voluptas?</p>
                    <p><a class="taber__link" href="#" title="Поисковое продвижение">подробнее…</a></p>`,
        },
    ]
-
    var tabsPromo1 = [
        {
            title: 'Гибридное SEO',
            text: `  <ul>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                      </ul>`,
        },
        {
            title: 'Продвижение в регионах',
            text: `  <ul>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                      </ul>`,
        },
        {
            title: 'Продвижение в Москве',
            text: `  <ul>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                      </ul>`,
        },
        {
            title: 'Продвижение по РФ',
            text: `  <ul>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                      </ul>`,
        },
        {
            title: 'SEO на этапе разработки',
            text: `  <ul>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                      </ul>`,
        },
        {
            title: 'SEO поддержка',
            text: `  <ul>
                        <li>Собираем "длинный хвост". Получаем 50% трафика по НЧ запросов с "длинным хвостом", которые пользователи вводят крайне редко. Такой трафик наиболее конверсионный.</li>
                        <li>Используем карту релевантости. Позиционное ядро распределяем на кластеры запросов по целевым страницам, проработка которых повышает отдачу от SEO.</li>
                        <li>Изучаем потенциал ключевых слов. Аналитики определяют перспективные по конверсии запросы и ставят их в приоритет продвижение по позициям.</li>
                      </ul>`,
        },
    ]
-
    var tabsStrategy = [
        {
            title: 'Анализ ЦА',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore doloremque itaque magni placeat, possimus ratione repudiandae sequi!</p>`,
        },
        {
            title: 'Сезонность и спрос',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolore eius neque possimus quis, ullam ut voluptatem?</p>`,
        },
        {
            title: 'Анализ продуктов',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur deserunt dolorum id modi quisquam similique!</p>`,
        },
        {
            title: 'Технический анализ',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit perferendis repudiandae saepe.</p>`,
        },
        {
            title: 'Поведенческий анализ',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet, ex iusto molestias saepe sed.</p>`,
        },
        {
            title: 'Прогнозы и сроки',
            text: `<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, tenetur!</p>`,
        },
        {
            title: 'Отчетность',
            text: `<p>Передача сайта заказчику (перенос на отдельный хостинг), обучение работе с системой управления сайта (CMS) и дальнейшая техническая поддержка.</p>`,
        },
    ]

-
    var topCases = [
        {
            name: 'Чикен-пицца',
            link: '#',
            text: 'Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.',
            images: [
                'images/content/chicken.jpg',
                'images/content/chicken.jpg',
            ],
            cols: [
                {
                    num: '+165',
                    desc: 'заявок в месяц с рекламного траффика',
                },
                {
                    num: '41,30 ₽',
                    desc: 'стоимость заявки',
                },
            ],
        },
        {
            name: 'Дом.ру',
            link: '#',
            text: 'Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.',
            images: [
                'images/content/chicken.jpg',
            ],
            cols: [
                {
                    num: '+97',
                    desc: 'заявок в сегменте B2B',
                },
            ],
        },
        {
            name: 'Амкадор',
            link: '#',
            text: 'Проведем анализ вашей аудитории, поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.',
            images: [
                'images/content/chicken.jpg',
            ],
            cols: [
                {
                    num: '113',
                    desc: 'столов было забронировано онлайн в 1-й месяц',
                },
                {
                    num: '110',
                    desc: 'заказов доставки с сайта в первый месяц',
                },
            ],
        },
        {
            name: 'Lovit))',
            link: '#',
            text: 'Поймем чего хочет ваш потребитель. Сегментируем аудитории на конкретных персонажей, пропишем сценарии для них, чтобы более точно коммуницировать с потребителями и как следствие более эффективно решать поставленные бизнес-задачи.',
            images: [
                'images/content/chicken.jpg',
                'images/content/chicken.jpg',
            ],
            cols: [
                {
                    num: '+110',
                    desc: 'заявка в месяц с поискового траффика',
                },
                {
                    num: '196 ₽',
                    desc: 'стоимость заявки',
                },
            ],
        },
    ]