section.section
	.b-express-form
		h3.h3._title Оставить заявку на консультацию
		form._form
			._text Подготовим бесплатный экспресс-аудит и КП для сайта медицинских услуг. Отправляйте заявку или звоните по телефону: #[a(href="tel:88005512557" title="Звоните") 8 (800) 551-25-57]
			._line
				label._field
					span._label Адрес сайта
					input(type='text' name='site-name')._input
				label._field
					span._label Email
					input(type='email' name='email')._input
				label._field
					span._label Телефон
					input(type='tel' name='user-phone')._input.-phone
			._footer
				input(type='submit', value='Отправить').b-btn.-flat._btn
