include ../../utils/data

footer.b-footer
    ._col
        ._copy © 2010–2020, ITC MEDIA агентство интернет-маркетинга #[a(href="mailto:manager@itc-media.ru") manager@itc-media.ru]
    ._col.footer__btn-wrap
        button(data-action='popup', data-target='consultation').b-btn.-round.-big._btn
            +icon('plus', 'btn__icon-plus')
            | Заказать  консультацию
    ._col
        ._social
            each icon in socialIcons
                a(href= icon.link, title= icon.name)._icon
                    +icon(icon.icon, 'footer__social-icon')

// Popups

.overlay
.b-popup
    ._close
        +icon('close', 'popup__icon-close')
    #consultation.consultation
        h4.h4._title Свяжитесь с нами
        form._form
            textarea(placeholder='Опишите идею или ситуацию', name='message')._textarea
            input(type='text' name='user-name', placeholder='Имя')._input
            input(type='tel' name='user-phone', placeholder='Телефон')._input.-phone
            input(type='checkbox', id='consultation-approve', name='approve' checked)._checkbox
            label(for='consultation-approve')._label Даю согласие на обработку своих персональных данных и соглашаюсь с политикой конфиденциальности
            input(type='submit', value='Отправить').b-btn.-flat._btn
