extends ../../template/desc-block

block block-variables
    - var blocktitle = 'О компании'

block block-content
    p Компания ITC основана в 2010 году. Сегодня в ней работают более 25 высококласных специалистов. Мы специализируемся на комплексных решениях в интернет-маркетинге и за годы работы накопили огромный опыт в e-commerce, медицинской и строительной тематиках.
    p Наши основные Клиенты - это малый и средний бизнес, однако мы умеем разрабатывать масштабные стратегии для крупных компаний, интегрируясь в их подразделения.
    .content-footer
        button.b-btn.-flat Медиакит
        button.b-btn.-flat Реквизиты