extends ../../template/desc-block

block block-variables
    - var blocktitle = 'Не нашли что нужно?'

block block-content
    p Не отчаивайся, если ты умеешь не всё что нам нужно. Главное, чтобы ты любил своё дело и горел желанием учиться. Если по какой-то вакансии твой уровень существенно превышает требования или ты не нашел подходящую вакансию, но хочешь работать у нас, напиши краткое письмо о себе на #[a(href="mailto:hr@itc-media.ru") hr@itc-media.ru] и мы что-нибудь придумаем.