extends ../../template/desc-block

block block-variables
    - var blocktitle = 'Пресса о нас'

block block-content
    h4 «Разделяй и властвуй!», или как увеличить конверсию сайта по остеклению в 10 раз.
    ul
        li В статье описывается кейс нашего подхода к аналитике, результатом которого стало десятикратное повышение конверсии сайта нашего Клиента и сокращение стоимости заявки в пять раз.
    p
        a(href="#", alt="Читать статью") Читать статью
    h4 Новый взгляд на классическое SEO
    ul
        li Статья размещена в известном онлайн-издании COSSA, где мы описываем альтернативный подход к SEO-продвижению проектов.
    p
        a(href="#", alt="Читать статью") Читать статью